<head>
  <% title "DreamFunded | Events" %>
</head>

<div class= "wrapper">
  <div class="header">
    <h1 class="centered press-post-h1">Press</h1>
    <p class="centered press-post-name">DreamFunded in the news</p>
  </div>
  <div class= "events-content">
    <% @press_posts.each do |post| %>
      <div class='press-post'>
        <%= image_tag(post.image)%>
        <span class='press-post-inline'>
          <div>"<%= post.quote%>"</div>
          <div><%= link_to(post.name, post.url)%></div>
          <div><%= post.date%></div>
        </span>
      </div>
      <hr>
    <% end %>


    <% if user_session != nil && user_session.authority == authority[:Admin] %>
      <div class='event'>
        <%= link_to 'New Press Post', new_press_post_path, class: 'centered add-new-event' %>
      </div>
    <% end %>
  </div>
</div>
