<head>
  <% title "DreamFunded | Events" %>
</head>

<div class= "wrapper">
  <div class="header">
    <h1 class="centered press-post-h1">Press</h1>
    <p class="centered press-post-name">DreamFunded in the news</p>
  </div>
  <div class= "events-content press-posts-content">
    <% @press_posts.each do |post| %>
      <div class='press-post'>
        <%= link_to post.url do %>
        <%= image_tag(post.image, class: 'press-image')%>
        <% end %>
        <span class='press-post-inline'>
          <div class="press-post-item press-quote">"<%= post.quote%>"</div>
          <div class="press-post-item"><%= link_to(post.name, post.url, target: '_blank', class: 'darkblue')%></div>
          <div class="press-post-item press-date"><%= post.date.strftime("%b,  %e %Y") %></div>
        </span>

        <div class='admin-links-press-post'>
          <% if user_session != nil && user_session.authority == authority[:Admin] %>
            <%= link_to 'Edit', edit_press_post_path(post) %>
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      </div>
      <hr>
    <% end %>


    <% if user_session != nil && user_session.authority == authority[:Admin] %>
      <div class='event'>
        <%= link_to 'New Press Post', new_press_post_path, class: 'centered add-new-event' %>
      </div>
    <% end %>
  </div>
</div>
