<!-- <html>
<head>
  <title>DreamFunded | Our Team</title>
</head>

<body>
  <div class= "wrapper">
  <div class="header-container shadow">
    <div class= "header centered"><h1>Our Team</h1></div>
  </div>

  <div class= "team">
    <% if @teams != nil %>
      <% @teams.each do |team| %>
        <div class= "team-wrap">
          <div class= "team-pic-wrap">
            <%= link_to image_tag( team.image.url, :class => "team-picture"), team_path(team) %>

          </div>
          <div class= "white-box">
            <% if current_user != nil && current_user.authority == authority[:Admin] %>
              <%= button_to "X", {action: 'remove_team', id: team.id} , {:class => 'remove-button'} %>
            <% end %>
            <div class="name indentt"><p class= "darkblue twentyf no-margin"> <%= team.name %>, <%= team.title %></p></div>
            <div class= "summary">
              <p class= "no-margin"> <%= team.summary %> </p>
            </div>
            <div><%= link_to "Full Biography", team_path(team), {:class => "team-button twenty"} %></div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

</body>

</html> -->
