<!--     <div class= "word-content"><div class="text-content">
      <div class= "topbar">
        <a href= "/team" class= "darkblue">&#8617; Back</a>
        <% if user_session != nil && user_session.authority == authority[:Admin] %>
          <%= link_to 'Edit', edit_member_path(@team_member), {:class => 'right'} %>
        <% end %>
      </div>
      <div class= "page">
        <div class= "art-text">
          <h2 class= "center darkblue title"><%= @team_member.name %>, <%= @team_member.title %></h2>
          <%= image_tag @team_member.image.url, :class => "full-photo" %>
          <p class= "article"><%= nl2br(h(@team_member.fullbio)).html_safe %></p>
        </div>

      </div>
    </div></div>
 -->
