<% title "DreamFunded | Invite" %>
<% twitter_image  "https://dreamfunded.com/assets/smaller_bg.jpg" %>
<% facebook_image "https://dreamfunded.com/assets/logo_for_facebook.jpg" %>
<% facebook_secure_image "https://dreamfunded.com/assets/logo_for_facebook.jpg" %>

<div class= "wrapper"> <!-- wrapper Starts -->

  <div class="header">
    <h1 class="centered">Invites </h1>
  </div>

  <div class= "invite-content">
    <%= flash[:email_sent] %>

    <% if flash[:upload_error] %>
      <p>
          Failed to upload Emails. Invalid CSV file format. Please download our
          <%= link_to "CSV file Template", '/download_template', targe: "_blank" %>
          and paste your data in the template.
     </p>
    <% end %>
    <% if current_user.has_company? %>
      <!-- Invite from my Company -->
      <div class="invite-via-email">
        <span class='invite-email-icon'><%=  fa_icon("envelope 2x")%> </span>
        <span class='invite-text'>Invite from <%= current_user.company.name %><br>

          <%= form_for(Invite.new, :url => invite_from_startup_path, html: {class: 'invite-from-startup'}) do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.text_field(:name, placeholder: 'Name',class: 'invite-text-input', required: true) %>
            <%= f.text_field(:email, placeholder: 'Email Address',class: 'invite-text-input', pattern: "[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$", required: true)%>
            <%= f.submit "Send", class: 'invite-button' %>
          <% end %>
        </span>
      </div>
    <% else %>
      <!-- Invite via Email -->
      <div class="invite-via-email">
        <span class='invite-email-icon'><%=  fa_icon("envelope 2x")%> </span>
        <span class='invite-text'>Invite via Email</span>
        <span class='invite-form'>
          <%= form_for(Invite.new) do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.text_field(:name, placeholder: 'Name',class: 'invite-text-input', required: true) %>
            <%= f.text_field(:email, placeholder: 'Email Address',class: 'invite-text-input', pattern: "[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$", required: true)%>
            <%= f.submit "Send", class: 'invite-button' %>
          <% end %>
        </span>
      </div>
    <% end%>

    <div class="invite-via-email">
      <span class='invite-email-icon'><%=  fa_icon("share-alt 2x")%> </span>
      <span class='invite-text'>Share on Social Media</span>
      <span class='invite-form-google'>

            <a id='facebook' class="share-invites-social" href='#'> <i class="fa fa-facebook"></i></a>
            <script type="text/javascript">
              $('#facebook').click(function(){
                FB.ui({
                  method: 'share',
                  href: "https://dreamfunded.com/",
                  redirect_uri: "https://dreamfunded.com/",
                  quote: "Join DreamFunded, an equity crowdfunding platform where anyone can invest in startups or raise capital."
                }, function(response){});

              })
            </script>

            <a id="twitter" class="share-invites-social" target="_blank" href="http://twitter.com/intent/tweet?text=Join%20DreamFunded,%20an%20equity%20crowdfunding%20platform%20where%20anyone%20can%20invest%20in%20startups%20or%20raise%20capital.%20https://dreamfunded.com/" title="Share via Twitter">
                <i class="fa fa-twitter"></i>
            </a>

            <a id ='linkedin' class="share-invites-social" target="_blank" href="http://www.linkedin.com/shareArticle?mini=true&amp;ro=false&amp;trk=bookmarklet&amp;title=Join%20DreamFunded,%20an%20equity%20crowdfunding%20platform%20where%20anyone%20can%20invest%20in%20startups%20or%20raise%20capital.&amp;url=https://dreamfunded.com/" target="_blank" title="Share via LinkedIn" >
                <i class="fa fa-linkedin"></i>
            </a>

      </span>
    </div>

    <!-- Upload CSV File -->
    <div class="invite-via-email">
      <span class='invite-email-icon'><%=  fa_icon("upload 2x")%> </span>
      <span class='invite-text'>Upload CSV File</span>
      <span class='invite-form'>
        <%= form_for(CsvFile.new, url: { action: "upload_csv"}, method: "post", html: { multipart: true } ) do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.file_field :file %>
          <%= f.submit "Upload", class: 'invite-button' %>
        <% end %>
      </span>
      <div>
      </div>
    </div>

    <% if current_user.authority == authority[:Admin] %>
     <!--   Upload from Manny -->
      <div class="invite-via-email">
        <span class='invite-email-icon'><%=  fa_icon("upload 2x")%> </span>
        <span class='invite-text'>Invites from Manny</span>

        <span class='invite-form-google'>
          <%= form_tag('/invites_from_manny', multipart: true) do %>
            <%= file_field_tag :file %>
            <%= submit_tag "Send", class: 'invite-button' %>
          <% end %>
        </span>
        <div>
          <!-- <span class='password-six-chars'>Please see proper <%#= link_to "CSV file", asset_path("test_users.csv"), target: '_blank' %> format. It should containt 2 table headers: "Name" and "Email". Both <span class='capitalized-word'>Capitalized</span> </span> -->
        </div>
      </div>

      <!--   Send StartUp Emails -->
      <div class="invite-via-email">
        <span class='invite-email-icon'><%=  fa_icon("envelope 2x")%> </span>
        <span class='invite-text'>Send on Behalf Of</span>
        <span class='invite-form'>
          <%= form_tag('/send_start_up_emails', multipart: true) do  %>
          <%= text_field_tag(:name,nil, placeholder: 'Name',class: 'invite-text-input', required: true) %>
          <%= select_tag(:company, options_from_collection_for_select(@companies, "name", "name"), required: true ) %>
          <%= file_field_tag :file, required: true %>


            <%= submit_tag "Send", class: 'invite-button' %>
          <% end %>
        </span>
      </div>


      <!--   Send From Team Member -->
      <div class="invite-via-email">
        <span class='invite-email-icon'><%=  fa_icon("user 2x")%> </span>
        <span class='invite-text'>From Team Member</span>
        <span class='invite-form'>
          <%= form_tag('/send_from_team_member', multipart: true) do  %>

          <%= select_tag(:member, options_from_collection_for_select(@members, "id", "name"), required: true ) %>
          <%= file_field_tag :file, required: true %>

          <%= submit_tag "Send", class: 'invite-button' %>
          <% end %>
        </span>
      </div>


      <!--   From Advisors -->
      <div class="invite-via-email">
        <span class='invite-email-icon'><%=  fa_icon("line-chart 2x")%> </span>
        <span class='invite-text'>From Advisor</span>
        <span class='invite-form'>
          <%= form_tag('/send_advisors_csv_invites', multipart: true) do  %>
            <%= select_tag(:advisor, options_from_collection_for_select(@advisors, "id", "name"), required: true ) %>

            <%= file_field_tag :file, required: true %>
            <%= submit_tag "Send", class: 'invite-button' %>
          <% end %>
        </span>
        <div>
          <!-- <span class='password-six-chars'>Please see proper <%#= link_to "CSV file", asset_path("test_users.csv"), target: '_blank' %> format. It should containt 2 table headers: "Name" and "Email". Both <span class='capitalized-word'>Capitalized</span> </span> -->
        </div>
      </div>
    <% end %>


    <% if current_user.advisor %>
      <!-- Invite from Advisor -->
      <div class="invite-via-email">
        <span class='invite-email-icon'><%=  fa_icon("envelope 2x")%> </span>
        <span class='invite-text'>Invite from Advisor</span>
        <span class='invite-form'>
          <%= form_tag('/send_from_advisor', multipart: true) do  %>
          <%= text_field_tag(:name, nil, placeholder: 'Name',class: 'invite-text-input', required: true) %>
            <%= text_field_tag(:email,nil, placeholder: 'Email Address',class: 'invite-text-input', pattern: "[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$", required: true)%>
            <%= submit_tag "Send", class: 'invite-button' %>
          <% end %>
        </span>
      </div>


    <% end %>
  </div>

  <!-- <div class= "invite-content">
    <h3 class=' education-category darkblue'>You have invited:</h3>
    <%# @invites.each do |invite| %>
      <div class="current-invites">
        <span class='imported-email' ><%#= invite.email %></span><br>
        <span class='invite-status imported-email'><%#= invite.name %></span>
      </div>
    <%# end %>
  </div> -->

</div> <!-- End of wrapper -->
