<% title "DreamFunded | Get Funded" %>
<div class= "wrapper">

  <div class="header education-center">
    <div class='education-title'>Invest in <%= @company.name %></div>
    <a href="/personal_info/<%= @company.name %>" class='education-links'>Personal Info</a> <%= fa_icon "chevron-right"%>
    <a href="/investor_details/<%= @company.name %>" class='education-links'>Investor Details</a> <%= fa_icon "chevron-right"%>
    <a href="/educational_disclaimer/<%= @company.name %>" class='education-links'>Educational Disclaimer</a> <%= fa_icon "chevron-right"%>
    <a href="/subscription_agreement/<%= @company.name %>" class='education-links'> Subscription Agreement </a> <%= fa_icon "chevron-right"%>
    <a href="#" class='education-links disabled-link active-link'> Pre-Purchase </a>
  </div>

  <div class= "campaign-box get-funded ">

  <div class="row">
    <div class=" active">
      <h2 class= "darkblue no-margin centered"><a  id="login-form-link">Invest in <%= @company.name %></a></h2>
      <br>

    </div>
  </div>

  <div class='pre_purchase_investment_details' data-price="<%= @company.suggested_target_price %>">
    <div class='invest_column'><strong>$<%= company_price(@company) %> </strong><br> Per Share</div>
    <div class='invest_column'><strong>30 Shares </strong><br> Minimum Investment<br>($60.00) </div>
    <div class='invest_column'><strong><%= max_number_of_shares(@maximum_investment, @company) %> Shares </strong><br> Maximum Investment<br>($<%=  number_with_precision(@maximum_investment, :precision => 2, :delimiter => ',') %>) </div>
  </div>

  <div class= "login-container">
    <%= form_tag "/pre_purchase_submit/#{@company.name}", method: :post,  multipart: true do |f| %>
      <%= hidden_field_tag :user_id, @user.id %>

      <div>How many <strong>shares</strong> would you like to purchase?</div>

       <%= text_field_tag(:share_amount, nil ,:placeholder => "30 minimum - #{max_number_of_shares(@maximum_investment, @company)} maximum", :class => " purchase_box", id: 'share_number', required: true) %>
       <strong class='center some_margin_left'><label><span id='share_amount'>30</span> shares for $<span id="share_price">60.00</span></label></strong>

      <h4 class= "question">Please check all of the following:</h4>
      <div class='checkbox_agreement'>
        <input type='checkbox' required ><span>   I acknowledge that I have reviewed and understand the educational materials and that this investment is at risk and may be lost</span>
      </div>

      <div class='checkbox_agreement'>
        <input type='checkbox' required ><span> I acknowledge that, by completing this investment commitment, I can cancel my investment at any time up until 48 hours prior to the target offering deadline. If I do not cancel my investment at that time, my funds will be invested if the offering has reached the target funding goal.</span>
      </div>

      <div class='checkbox_agreement'>
        <input type='checkbox' required ><span>  I acknowledge it may be difficult to resell the securities I acquire. I understand they are generally restricted from resale for one year after date of purchase. I understand when the securities are no longer restricted, no market may exist to sell them, and because of changes in law or regulation they may lose their exemption from registration under the Securities Act of 1933.</span>
      </div>

      <div class='checkbox_agreement'>
        <input type='checkbox' required ><span>  I acknowledge that during the past 12 months my total investments in Regulation Crowdfunding offerings, including this investment, will not exceed the investment limit applicable to my income or net worth. A few examples of investor limitations based on Investor Annual Income and Investor Net Worth can be found <%= link_to 'here', asset_path("AnnualInvestorLimitsAgreement.pdf"), target: '_blank' %>.</span>
      </div>



      <div class = "notice centered">
        <%= flash[:errors] if flash[:errors] %>
      </div>

      <div class= "centered">
        <%= submit_tag("Continue", :id => "submit-button") %>
      </div>
    <% end %>
  </div>
</div>

<script>
  $('#share_number').keyup(function(){

    value = $(this).val();
    $("#share_amount").html(value);

    price = $(".pre_purchase_investment_details").data("price")

    total = value * price;

    $("#share_price").html(total.toLocaleString());
  });
</script>
