<div class="nested-fields">

  <div class="field">
    <%= f.text_field :name, class: 'input-box', required: true, placeholder: "Full Name" %>
  </div>

  <div class="field">
    <%= f.text_field :email, class: 'input-box', required: true, placeholder: "Email" %>
  </div>

  <div class="field">
    <%= f.text_field :position, class: 'input-box', required: true, placeholder: "Position" %>
  </div>

  <div class="field">
    <%= f.text_field :year_joined, class: 'input-box', required: true, placeholder: "Year Joined" %>
  </div>

  <div class="field">
    <%= f.text_field :education, class: 'input-box', required: true, placeholder: "Education" %>
  </div>

  <div class="field">
    <%= f.text_area :employment, value: 'Employer:
Principal business:
Title:
Responsibilities:
Dates:', rows: 10, class: "campaign_text_area_width", placeholder: "Employer:
Principal business:
Title:
Responsibilities:
Dates:
" %>
  </div>

  <%= link_to_remove_association "Remove", f %><br/>
</div>
