<% title "DreamFunded | Form C" %>
<div class= "wrapper">
  <div class="header education-center">
    <div class='education-title'>Form C Editor</div>
    <a href="#" class='education-links disabled-link'>General</a> <%= fa_icon "chevron-right"%>
    <a href="#" class='education-links active-link'>Business</a> <%= fa_icon "chevron-right"%>
    <a href="#" class='education-links disabled-link'>People</a> <%= fa_icon "chevron-right"%>
    <a href="#" class='education-links disabled-link'>Terms</a> <%= fa_icon "chevron-right"%>
    <a href="#" class='education-links disabled-link'> Disclosures</a> <%= fa_icon "chevron-right"%>
    <span href="#" class='education-links disabled-link'> Financial Info </span><%= fa_icon "chevron-right"%>
    <span href="#" class='education-links disabled-link'> Sign & Submit </span>
  </div>

  <div class= "campaign-box  get-funded ">

  <div class="row">
    <div class=" active">
      <h2 class= "darkblue no-margin centered"><a  id="login-form-link">Business Info</a></h2>
    </div>
  </div>

  <div class= "login-container">
    <%= form_for @general_info, :url => {:action => "business_save",id: @general_info.id}, method: "post" do |f| %>


    <section>
      <label class='get-funded-section-name'>Name</label>
      <%= f.text_field :legal_name, value: current_user.name, placeholder: 'Your full legal name(As it appeasrs on your ID)', :class => "input-box", required:true %>
    </section>

    <section>
      <label class='get-funded-section-name'>Position/Title</label>
      <%= f.text_field :position_title, placeholder: '', :class => "input-box", required:true %>
    </section>

    <section>
      <label class='get-funded-section-name'>When was your first date as a company</label><br>
      <%= f.date_field :first_date, value: current_user.companies.last.campaign.date_formed, class: 'campaign-input-box' %>
    </section>

    <strong>Business Experience</strong>
    <br>
    <section>
      <label class=''>Where were you previously employed?</label>
      <%= f.text_field :prev_emp,  :class => "formc-input-box", required:true %><br>

      <label class=''>What was your role?</label>
      <%= f.text_field :prev_title,  :class => "formc-input-box", required:true %><br>

      <label class=''>What are the dates which you were working there?</label>
      <%= f.text_field :prev_dates, placeholder: "m/yy - m/yy", :class => "formc-input-box", required:true %><br>

      <label class=''>What were your responsibilities?</label>
      <%= f.text_field :prev_resp,  :class => "formc-input-box", required:true %>
    </section>




      <div class= "centered">
        <%= submit_tag("Continue", :id => "submit-button") %>
      </div>
    <% end %>
  </div>
</div>
