<% title "DreamFunded | Form C" %>
<div class= "wrapper">
  <div class="header education-center">
    <div class='education-title'>Form C Editor</div>
    <a href="#" class='education-links active-link'>General</a> <%= fa_icon "chevron-right"%>
    <a href="#" class='education-links disabled-link'>Business</a> <%= fa_icon "chevron-right"%>
    <a href="#" class='education-links disabled-link'>People</a>
  </div>

  <div class= "campaign-box  get-funded ">

  <div class="row">
    <div class=" active">
      <h2 class= "darkblue no-margin centered"><a  id="login-form-link">General Info</a></h2>
    </div>
  </div>

  <div class= "login-container">
    <%= form_for @general_info, :url => {:action => "general_save"}, method: "post" do |f| %>

      <div class='get-funded-section-name'>Name</div>
      <%= f.text_field :name, value: current_user.companies.last.name, placeholder: 'Company Name', :class => "input-box", required:true %>
      <br>


      <div class='get-funded-section-name'>In which state was it incorporated or organized?</div>
      <div class="styled-select select-100-width" >
        <%= f.select( :state, options_for_select(all_states) ) %>
      </div>
      <br>


      <div>
        <div class='get-funded-section-name'>What is the date of incorporation?</div>
        <%= f.date_field :date_formed, value: current_user.companies.last.campaign.date_formed, class: 'campaign-input-box' %>
      </div>


      <div class='get-funded-section-name'>What kind of securities are you offering?</div>
      <%= f.text_field(:type_of_securtity, value: "Crowd Safe", class: "campaign-input-box" ) %>
      <br>



      <div class='get-funded-section-name'>
        Company Location
      </div>

      <%= f.text_field :company_location_address, value: current_user.companies.last.campaign.company_location_address, placeholder: 'Address',:class => "campaign-input-box", required:true %>
      <%= f.text_field :company_location_city, value: current_user.companies.last.campaign.company_location_city,  placeholder: 'City',:class => "campaign-input-box", required:true %>
      <%= f.text_field :company_location_state, value: current_user.companies.last.campaign.company_location_state,  placeholder: 'State',:class => "campaign-input-box", required:true %>
      <%= f.text_field :company_location_zipcode, value: current_user.companies.last.campaign.company_location_zipcode,  placeholder: 'Zipcode',:class => "campaign-input-box", required:true %>
      <br><br>

      <div class='get-funded-section-name'>Website</div>
      <%= f.text_field :website,  value: current_user.companies.last.website_link, placeholder: 'Website', :class => "campaign-input-box", required:true  %><br>
      <div>

      <div class='get-funded-section-name'>What is the maximum you are looking to raise?</div>
      <%= f.text_field(:max_amount, value: current_user.companies.last.campaign.funding_goal, class: "campaign-input-box" ) %>
      <br>

      <div class='get-funded-section-name'>How long will the campaign last? (days)</div>
      <%= f.number_field :days, class: 'campaign-input-box', placeholder: "Up to 180 days", required:true %>



      <div class= "centered">
        <%= submit_tag("Continue", :id => "submit-button") %>
      </div>
    <% end %>
  </div>
</div>
