<% title "DreamFunded | Form C" %>
<div class= "wrapper">
		<div class="header education-center">
				<div class='education-title'>Form C Editor</div>
				<a href="#" class='education-links disabled-link'>General</a> <%= fa_icon "chevron-right"%>
				<a href="#" class='education-links disabled-link'>Team</a> <%= fa_icon "chevron-right"%>
				<a href="#" class='education-links disabled-link'>Terms</a> <%= fa_icon "chevron-right"%>
				<a href="#" class='education-links disabled-link'>Disclosures</a>
		</div>

	<div class= "campaign-box  get-funded ">

		<div class="row">
			<div class=" active">
				<h2 class= "darkblue no-margin centered"><a  id="login-form-link">Team</a></h2>
			</div>
		</div>

		<div class= "login-container">
			<%= form_for(@general_info, :url => {:action => "people_save", id: @general_info.id}, method: "post" ) do |f| %>
				<%= f.hidden_field :completed, value: true %>

				<h3>Principal Security Holders</h3>
				<div class='formc-disclosure'>
					Who owns 20 percent or more voting equity securities of your Company, calculated by voting power? Must be accurate within 120 days ago.
				</div>
				<%= f.fields_for :principal_holders, @holders do |holder| %>
					<%= render 'principal_holder_fields', f: holder %>
				<% end %>
				<div class="links">
					<%= link_to_add_association 'Add', f, :principal_holders %>
				</div>
				<br>


				<!-- <section>
					<label class='get-funded-section-name'>What is purpose of this offering</label><br>
					<%#= f.text_field :offering_purpose,  class: 'campaign-input-box' %>
				</section>

				<section>
					<label class='get-funded-section-name'>Financial Condition</label><br>
					<%#= f.text_field :fin_condition,  class: 'campaign-input-box' %>
				</section> -->

				<div class= "centered">
					<%= f.submit("Continue", :id => "submit-button") %>
				</div>
			<% end %>
		</div>
	</div>
</div>
