<%= javascript_include_tag    'signup' %>
<% title "DreamFunded | Sign Up" %>

   <div class= "wrapper"><div class= "signup-size box">
      <div class="row">
        <div class="tab right-line darkblue nodec">
          <h2 class= "no-margin centered"><a href="/users/sign_in" id="login-form-link">Login</a></h2>
        </div>
        <div class="tab darkblue active">
          <h2 class= "no-margin centered"><a href="/users/sign_up" id="register-form-link">Sign Up</a></h2>
        </div>
      </div>

      <div class= "signup-content">
        <h4>Basic Information</h4>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <div class = "notice centered">
            <%= devise_error_messages! %>
          </div>

           <%= invisible_captcha %>
           <%= f.text_field(:first_name, :placeholder => "First Name", :class => "form-field form-field-half") %>

           <%= f.text_field(:last_name, :placeholder => "Last Name", :class => "form-field form-field-half") %><br>
           <%= f.text_field(:phone, :placeholder => "Phone", :class => "form-field form-field-half") %><br>
           <input type="checkbox" value="investor" name="user[investor]">
            <%= f.label :investor, :Investor, {} %>
           <input type="checkbox" value="entrepreneur" name="user[entrepreneur]">
           <%= f.label :entrepreneur, "Entrepreneur Looking for Funding" %>
           
        <h4>Login Information</h4>
           <%= f.text_field(:email, :placeholder => "Email", :class => "form-field  email-signup") %>
           <%= f.password_field(:password, :placeholder => "Password ", :class => "form-field form-field-half little-margin", required: true, pattern: ".{6,}") %>
           <%= f.password_field(:password_confirmation, :placeholder => "Confirm Password", required: true, pattern: ".{6,}", :class => "form-field form-field-half  little-margin") %>
           <span class='password-six-chars'>Password must be at least 6 characters</span>
           <br><br>

           <div class = "check_box hide-on-mobile">
             <div class="checbox-block">
              <input type="checkbox" name="net_worth" id="box1" required>
              <span class="checkbox-label"> I have read the important notice and consent to the Site’s use of <%= link_to 'electronic communications, electronic records, and electronic signatures', asset_path("ElectronicCommunicationsRecordsandSignaturesConsentForm(3).pdf"), target: '_blank' %>.</span>
            </div><br>

             <div>
                <input type="checkbox" name="income" id="box3" required>
                <span class="checkbox-label"> I acknowledge that I have reviewed and understand the <%= link_to 'Educational Materials', asset_path("investor-guide.pdf"), target: '_blank' %> and understand the risks involved in the offerings on the Site.</span>
              </div><br>

             <div>
              <input type="checkbox" name="investor" id="box4" required>
              <span class="checkbox-label"> I have read and signed the
                <%= link_to 'Compensation Disclosure', asset_path("compensation.pdf"), target: '_blank' %>.</span>
              </div>
          </div><br>


           <div class = "notice centered">
              <%= flash[:signup_errors] if flash[:signup_errors] %>
              <%= @error_message %>
           </div>

           <div class= "centered">
           <p class='check_box hide-on-mobile'>By signing up you agree with our <%= link_to 'Terms and Conditions', asset_path("DreamFunded.VCTermsConditions(2).pdf"), target: '_blank' %> & <%= link_to 'Privacy Policy', asset_path("DreamFunded_PrivacyPolicy.pdf"), target: '_blank' %></p>

              <%= f.submit("Sign Up", :id => "submit-button" ) %>

              <div class='social-media-line'>
                <span></span>
                <h4>OR</h4>
                <span></span>
              </div>
              <div class='social-login-ions'>
                <%= link_to '/auth/google_oauth2', class: 'google-link' do %>
                  <span>Google</span>
                <%end%>
                <%= link_to '/auth/linkedin', class: 'linkedin-link' do %>
                  <span>LinkedIn</span>
                <%end%>
                <%= link_to  '/auth/facebook', class: 'facebook-link'  do %>
                  <span>Facebook</span>
                <%end%>
              </div>

           </div>
           <p class='check_box hide-on-desktop'>By signing up you agree with our <%= link_to 'Terms and Conditions', asset_path("DreamFunded.VCTermsConditions(2).pdf"), target: '_blank' %>,  <%= link_to 'Privacy Policy', asset_path("DreamFunded_PrivacyPolicy.pdf"), target: '_blank' %>,  <%= link_to 'electronic communications, electronic records, and electronic signatures', asset_path("ElectronicCommunicationsRecordsandSignaturesConsentForm(3).pdf"), target: '_blank' %> & <%= link_to 'Educational Materials', asset_path("investor-guide.pdf"), target: '_blank' %> </p>
        <% end %>
      </div>
      </div>
  </div>
<script type="text/javascript">
  $(document).ready(function(){
      if (window.matchMedia('(max-width: 981px)').matches) {
        $("#box1").removeAttr('required');
        $("#box3").removeAttr('required');
        $("#box4").removeAttr('required');
      }
  })
</script>

