<html>
  <head>
    <% title "DreamFunded | Education " %>
  </head>

  <body>
    <div class= "wrapper">
      <!-- <div class="header">
        <h1 class="centered">Education Center</h1>
      </div> -->
      <div class="header education-center">
        <div class='education-title'><%=link_to "Education Center", education_path%></div>
        <%= link_to "All Education", education_path, class: 'education-links'%> <%= fa_icon "chevron-right"%> <a href="#" class='education-links'> Startups </a>
        <%= fa_icon "chevron-right"%> <a href="#" class='education-links'>Startup Q&A</a>
      </div>
      <div class= "left-panel">
        <ul class='education-menu'>
            <a href='/education/startup-basics'><li class='education-item '>The Basics</li></a>
            <a href='/education/startups-important-terms'><li class='education-item '>Important Terms</li></a>
            <a href='/education/fund_raising_guide'><li class='education-item '>Fund Raising Guide</li></a>
            <a href='/education/jobs_act'><li class='education-item '>J.O.B.S. Act</li></a>
            <a href='/education/employee-qa'><li class='education-item active'>Startup Q&A</li></a>
        </ul>
      </div>
      <div class= "right-panel ">
        <div class= "text-content">

            <h3 class= "question darkblue flip">Startup Q&A</h3>
            <ul class='education-center-list'>

            <% @posts.each do |post|%>
                <% if current_user != nil && current_user.authority == authority[:Admin] %>
                    <%= button_to "Delete", {:controller => :posts,  :action => 'destroy', :id => post.id }, :method => :delete, class: 'float-rigth' %>
                    <%= link_to 'Edit', "/posts/#{post.id}/edit/employee-qa", {:class => 'right'} %>

                <% end %>
                <li><%= link_to post.title, post %></li>

                <div class='panel'><%#= post.content%>
                   <%= post.content.html_safe %>
                </div>

            <% end %>
            <% if current_user != nil && current_user.authority == authority[:Admin] %>
                <h3><%= link_to 'Create New', "/posts/new/employee-qa", {:class => 'right'} %></h3>
            <% end %>
            </ul>

            <br><br><br>

            <div class= "centered twenty">
              <%= button_to "Get Started", {:action => 'get_started', controller: 'home'}, {:id => 'push'} %>
            </div>

        </div>
      </div>
    </div>
  </body>

</html>

