 <div class="main comment comment<%=comment.id%>">
    <div class="headline">
      <span class="name">
        <a><%= comment.user.comments_name%></a>
      </span>

      <span class="created_at">
        <%= comment.created_at.strftime("%b-%e-%Y") %>
      </span>
    </div>

    <div class="comment_content">
      <p><%= comment.content%></p>
      <div class='reply_button'>
        <%= link_to "Reply", "", class: 'reply_comment_button' %>
      </div>
    </div>
    <% if user_session != nil && user_session.authority == authority[:Admin] %>
    <%= button_to "X", {action: 'remove_comment',controller: 'comments', id: comment.id} , data: { confirm: 'Are you sure?' }, class:'remove-button'%>
    <% end %>
 </div>

<% if user_session %>
  <div class="comment reply_comment_form">
    <div class="headline">
      <span class="name">
        <span class='comment_as'>New comment as</span>
        <a><%= user_session.comments_name%></a>
      </span>
    </div>
    <div class="comment_content">
      <%= form_for Comment.new, remote: true  do |f|%>
         <%= f.hidden_field "user_id", value: user_session.id %>
         <%= f.hidden_field "company_id", value: params[:id] %>
         <%= f.hidden_field :parent_id, value: comment.id %>
        <div>
          <%= f.text_area :content, rows: 8, class: 'comment_extarea' %>
        </div>
        <%= f.submit "Post Comment", class: 'comment_submit_button' %>
      <% end %>
    </div>
  </div>
<%end%>








