<% if current_user %>
  <div class="comment">
    <div class="headline">
      <span class="name">
        <span class='comment_as'>New comment as</span>
        <a><%= current_user.comments_name%></a>
      </span>
    </div>
    <div class="comment_content">
      <%= form_for Comment.new, remote: true  do |f|%>
         <%= f.hidden_field "user_id", value: current_user.id %>
         <%= f.hidden_field "company_id", value: @company.id %>
         <%= f.hidden_field :parent_id, value: @comment.id %>
        <div>
          <%= f.text_area :content, rows: 8, class: 'comment_extarea' %>
        </div>
        <%= f.submit "Post Comment", class: 'comment_submit_button' %>
      <% end %>
    </div>
<%end%>
