<html>
  <head>
    <% title "DreamFunded | My Shares " %>
  </head>

  <body>
    <div class= "wrapper">
      <div class="header">
        <h1 class="centered">My Shares</h1>
      </div>
        <div class= "bids-content">


          <%= form_tag '/update-shares' do  %>
            <%= hidden_field_tag( :share_id, @share.id)%>
            <div class='share-details'>

              <div class='shares-block1'>
                <%= image_tag @share.company.image, class: 'shares-company-image' %>
              </div>

              <div class='shares-details-block'>
                <div class=" darkblue shares-line">Shareholder: <span class='event-date'><%= @seller.name %></span></div>
                <div class='shares-line '>
                    Number of shares: <%= text_field_tag :number, number_with_delimiter(@share.number_shares), class: 'userbox' %>

                </div>
                <div class='shares-line'>
                    Desired Share Price: <%= text_field_tag :price, @share.shares_price, class: 'userbox' %>
                </div>

              </div>
              <!-- <div class='shares-block1'>
              </div> -->
              <div class= "centered">
                <%= submit_tag("Submit", :class => "login-button") %>
              </div>


            </div>
          <% end %>

        </div>
    </div>
  </body>
  <script type="text/javascript">
    $( "#number" ).keyup(function() {
        var value = addCommas( $( this ).val() );
        $( this ).val( value );
    });
  </script>
</html>
