<html>
  <head>
    <% title "DreamFunded | My Shares " %>
  </head>

  <body>
    <div class= "wrapper">
      <div class="header">
        <h1 class="centered">My Shares</h1>
      </div>
        <div class= "bids-content">


          <% @shares.each do |share| %>
            <div class='event'>

              <div class='shares-block1'>
                <%= image_tag share.company.image, class: 'shares-company-image' %>
              </div>

              <div class='shares-block1'>
                <div class=" darkblue shares-line">Shareholder: <span class='event-date'><%= @seller.name %></span></div>
                <div class='shares-line '>Number of shares: <%= number_with_delimiter(share.number_shares) %></div>
                <div class='shares-line'>Desired Share Price: $<%= share.shares_price %></div>

              </div>
              <!-- <div class='shares-block1'>
              </div> -->



            </div>
          <% end %>



          <% @bids.each do |bid| %>
            <div class='event'>

              <div class='event-block1'>
                <div class="round-date"><div class='event-day'><%= bid.created_at.strftime("%e") %></div><div class='event-month'><%= bid.created_at.strftime("%b") %></div></div>
              </div>

              <div class='bid-block'>
                 Number of shares: <div class='event-date'><%= bid.number_of_shares%></div>
              </div>

              <div class='bid_block3'>
                Bid Amount: <div class='event-date'>$<%= bid.bid_amount %></div>
              </div>

              <div class='bid_block3'>
                Action: <br>
                <a href='/accept_bid/<%= bid.id %>' style="display: block;">Accept</a>
                <a href='/decline_bid/<%= bid.id %>' style="display: block;">Decline</a>
                <a href='#' style="display: block;">Counter Offer</a>
              </div>

            </div>
          <% end %>
        </div>
    </div>
  </body>

</html>
