<% title "DreamFunded | #{@group.name}" %>


<% facebook_og_title ("Invest in #{@group.name} on DreamFunded.com") %>
<% facebook_url("https://dreamfunded.com/companies/#{@group.name}")%>

<% facebook_image @group.background.url %>
<% facebook_secure_image @group.background.url %>

<% twitter_image @group.background.url %>



    <section class='group-cover-photo' style="background-image:url(<%= @group.background.url %>)" >
        <div class='group-opacity-on-background'>
        </div>

        <div class='company-profile-bottom-line'>
            <%= image_tag( @group.image.url, class: 'image-max-width company-logo')%>
            <section class='company-basic-info'>
                <div>   <%= @group.name %>  </div>
                <div class='company-slogan'>    <%= @group.description %>  </div>
                <div class='number-of-members'> 68 members</div>
            </section>
        </div>

        <div class='group-info-right-panel'>
            <div class='fund-america-invest-button'>
                <%= link_to "Join Group", join_group_path(@group), class: 'company-button join-group-button mail-to-button' %>
            </div>
        </div>
    </section>

        <div class='group-blog-section'>
            <div class=" stretch">

                <div >
                    <section class= "video-box">
                        <h2 class='section-title'>Group Dialog</h2>


                        <div class= "news-container">
                            <% @posts.each do |article| %>
                                <div class= "group-blog_wrapper">
                                    <% if current_user != nil && current_user.authority >= authority[:Editor] %>
                                        <%= link_to 'Delete', article, method: :delete, data: { confirm: 'Are you sure?'}, :class => 'right red_link' %>
                                        <%= link_to 'Edit', "/posts/#{article.id}/edit/group", {:class => 'right red_link'} %>
                                    <% end %>


                                    <div class= "">
                                        <div class= "group-blog-title"> <%= article.title %> </div>
                                        <div class= "blog_content">
                                            <%= article.content.first(300).html_safe %>...
                                            <%= link_to "Read more", blog_post_path(article) %>
                                        </div>
                                        <div class="press-post-item press-date">
                                            <%= article.created_at.strftime("%b %e %Y") %>
                                        </div>
                                        <!-- <div class='news-read-more-buton'>
                                            <%#= link_to "Read More", blog_post_path(article), :class =>'article-button' %>
                                        </div> -->
                                    </div>
                                </div>
                            <% end %>
                            <% if current_user != nil && current_user.authority >= authority[:Editor] %>
                                <h3 class='centered'><%= link_to 'Write New Group Post', "/posts/new/group" %></h3>
                            <% end %>
                        </div>




                    </section>
                </div>
            </div>



        </div>




