
  <div class= "wrapper"><div class= "box signin-box centered">

    <div class="row">
      <div class=" darkblue active">
        <h2 class= "no-margin centered"><a  id="login-form-link">Change Password</a></h2>
      </div>
    </div>

    <div class= "login-container">
      <%= form_tag("post_change_password", method: "post") do %>
        <%= text_field_tag(:email, nil, :class =>"userbox", :placeholder => "Email") %>
        <br>

          <div class = "notice centered">
            <%= flash[:notice] if flash[:notice] %>
            <%= @error_message %>
          </div>
        <div class= "centered">
          <%= submit_tag("Send Reset Password Instructions", :class => "login-button") %>
        </div>
      <% end %>
    </div>


  </div>
</div>
