<html>
<head>
	<link rel= "stylesheet" href= "../../assets/stylesheets/login.css.scss">
	<title>DreamFunded | Log In</title>
</head>

<body>
	<div class= "signin-box centered">
		<h2 class= "centered">Sign In</h2>
		<div class= "login-container">
			<%= form_tag("post_login", method: "get") do %>

				<%= text_field_tag(:username, nil, :class =>"userbox", :placeholder => "Username") %>
				<br>

				<%= password_field_tag(:password, nil, :class => "passbox", :placeholder => "Password") %>
				<br>
					<div class = "notice centered">
						<%= flash[:notice] if flash[:notice] %>
						<%= @error_message %>
					</div>
				<div class= "centered">
					<%= submit_tag("Login", :class => "login-button") %>
				</div>
			<% end %>
		</div>

		<div class= "centered">
			<form action="/users/new">
		   		<input type="submit" value="Sign up here" class= "signup">
			</form>
		</div>
	</div>

</body>

</html>