<html>
<head>
	<% title "DreamFunded | Log In" %>
</head>

<body>
	<div class= "wrapper"><div class= "box signin-box centered">

		<div class="row">
			<div class="tab right-line darkblue active">
				<h2 class= "no-margin centered"><a href="/users/login" id="login-form-link">Login</a></h2>
			</div>
			<div class="tab darkblue nodec">
				<h2 class= "no-margin centered"><a href="/users/new" id="register-form-link">Sign Up</a></h2>
			</div>
		</div>

		<div class= "login-container">
			<%= form_tag("post_login", method: "get") do %>
				<%= text_field_tag(:email, nil, :class =>"userbox-login", :placeholder => "Email") %>
				<br>
				<%= password_field_tag(:password, nil, :class => "passbox", :placeholder => "Password") %>
				<br>
					<div class = "notice centered">
						<%= flash[:notice] if flash[:notice] %>
						<%= @error_message %>
					</div>
				<div class= "centered">
					<%= submit_tag("Login", :class => "login-button") %>
					<div class='social-login-ions'>
					  <%= link_to fa_icon("google 2x"), '/auth/google_oauth2', id: 'google-icon' %>
					  <%= link_to fa_icon("linkedin 2x"), '/auth/linkedin', id: 'linkedin-icon'  %>
					</div>
				</div>
			<% end %>
		</div>

		<div class= "centered">
		   	<%= link_to " Forgot password?", change_password_path, :class => "signup black" %>
		</div>
	</div>
</div>
</body>

</html>
