<html>
<head>
	<link rel= "stylesheet" href= "../../assets/stylesheets/login.css.scss">
	<title>DreamFunded | Log In</title>
</head>

<!-- Try not to use style in html file. Use ID and Class to define css (Wrap around div if necessary)
<body>
	<div class= "sign-in-box spaced-vert">
		<div style= "margin-top: 30px;"> </div>
		<h2 class= "spaced-letters centered">Sign In</h2>
		<div style= "margin-top: 30px;"> </div>
			<form method= "post" action= "*******MIN WHERE DO I DEPOSIT INFO T.T ************">
				<div class= "sign-in-content grid">
					<input type= "text" placeholder= "USERNAME / EMAIL"class= "underline-style" name= "username">
					<input type= "password" placeholder= "PASSWORD" class= "underline-style" name= "password">
				</div>

				<div class= "centered login-box"> 
					<input class= "login-button spaced-letters" type= "submit" value= "Login" name= "commit"><br><br>
					<a href= "" style= "margin-top: 15px;">Forgot your password?</p>
					<div style= "margin-top: 30px;"> </div>
				</div>
			</form>
	</div>
-->

<body>
	<div class= "signin-box">
		<br>
		<h2 class= "centered">Sign In</h2>
		<br>
		<div class= "login-container">
			<%= form_tag("post_login", method: "get") do %>

				<%= text_field_tag(:username, nil, :class =>"userbox", :placeholder => "Username") %>
				<br>

				<%= password_field_tag(:password, nil, :class => "passbox", :placeholder => "Password") %>
				<br>
				<div class= "centered">
					<%= submit_tag("Login", :class => "login-button") %>
				</div>
			<% end %>
		</div>

		<div class = "notice centered">
			<%= flash[:notice] if flash[:notice] %>
			<%= @error_message %>
		</div>

		<div class= "centered">
			<form action="/users/new">
		   		<input type="submit" value="Sign up here!" class= "signup">
			</form>
		</div>
	</div>

</body>

</html>