<html>
<head>
    <%= javascript_include_tag    'signup' %>
    <% title "DreamFunded | Sign Up" %>
</head>

<body>
   <div class= "wrapper"><div class= "signup-size box">

      <div class="row">
        <div class="tab right-line darkblue nodec">
          <h2 class= "no-margin centered"><a href="/users/login" id="login-form-link">Login</a></h2>
        </div>
        <div class="tab darkblue active">
          <h2 class= "no-margin centered"><a href="/users/new" id="register-form-link">Sign Up</a></h2>
        </div>
      </div>

      <div class= "signup-content">
        <h4>Basic Information</h4>

        <%= form_for @user do |f| %>
           <%= invisible_captcha %>
           <%= f.text_field(:first_name, :placeholder => "First Name", :class => "input-box half") %>
           <div class= "filler"></div>
           <%= f.text_field(:last_name, :placeholder => "Last Name", :class => "input-box half scoot-left") %><br>
           <%= f.text_field(:phone, :placeholder => "Phone", :class => "input-box") %><br>

        <h4>Login Information</h4>
           <%= f.text_field(:email, :placeholder => "Email", :class => "input-box email-signup") %>
           <%= f.password_field(:password, :placeholder => "Password ", :class => "input-box half little-margin", required: true, pattern: ".{6,}") %>
           <%= f.password_field(:password_confirmation, :placeholder => "Confirm Password", required: true, pattern: ".{6,}", :class => "input-box half scoot-left little-margin") %>
           <span class='password-six-chars'>Password must be at least 6 characters</span>
           <br><br>
           <!-- <div class="styled-select">
             <%#= select_tag(:user_role, options_for_select([ "Investor", "Seller" ]), prompt: "Select Role") %>
           </div> -->


           <div class = "check_box">
             <div class="checbox-block">
              <input type="checkbox" name="net_worth" id="box1" required>
              <span class="checkbox-label"> I have read the important notice and consent to the Site’s use of <%= link_to 'electronic communications, electronic records, and electronic signatures', asset_path("ElectronicCommunications.pdf"), target: '_blank' %>.</span>
            </div><br>

             <div>
                <input type="checkbox" name="income" id="box3" required>
                <span class="checkbox-label"> I acknowledge that I have reviewed and understand the <%= link_to 'Educational Materials', asset_path("DreamFunded_Investor_Guide.pdf"), target: '_blank' %> and understand the risks involved in the offerings on the Site.</span>
              </div><br>

             <div>
              <input type="checkbox" name="investor" id="box4" required>
              <span class="checkbox-label"> I have read and signed the <%= link_to 'Compensation Disclosure', asset_path("DreamFundedFeeCompensationDisclosure.pdf"), target: '_blank' %>.</span></div>
          </div><br>


           <div class = "notice centered">
              <%= flash[:signup_errors] if flash[:signup_errors] %>
              <%= @error_message %>
           </div>

           <div class= "centered">
           <p class='check_box'>By signing up you agree with our <%= link_to 'Terms and Conditions', asset_path("DreamFunded.VCTermsConditions.pdf"), target: '_blank' %> & <%= link_to 'Privacy Policy', asset_path("DreamFundedPrivacyPolicy.pdf"), target: '_blank' %></p>

              <%= f.submit("Submit", :id => "submit-button" ) %>
              <div class='social-login-ions'>
                <%#= link_to fa_icon("google 2x"), '/auth/google_oauth2', id: 'google-icon' %>
                <%#= link_to fa_icon("linkedin 2x"), '/auth/linkedin', id: 'linkedin-icon'  %>
                <%#= link_to fa_icon("facebook 2x"), '/auth/facebook', id: 'facebook-icon'  %>
              </div>
           </div>

        <% end %>
      </div>
      </div>
  </div>
   <script>
  //   $("#user_role").change(function(){
  //     var value = $("#user_role option:selected").text();
  //     if(value === 'Investor'){
  //       $(".check_box").show();
  //     }else if(value === 'Seller'){
  //       document.getElementById("submit-button").disabled= false;
  //     }
  //   })
  // </script>
</body>
</html>
