<html>
	<head>
		<% title "DreamFunded | Portfolio" %>
	</head>

	<body>
		<div class= "wrapper">
			<div class="header">
				<h1 class="centered">Portfolio</h1>
			</div>
			<div class= "word-content"><div class= "text-content">

				<div class= "companies-container margin-bottom-50">
					<% @investments.each do |investment| %>
						<div class= "company-container">



							<div class= "company-image"><div class= "image-wrap">
								<%= link_to image_tag( investment.company.image.url, :class => "image"), {controller: 'companies', :action => 'company_profile', :id => investment.company.id} %>
							</div></div>
							<div class= "">
								<br>
								<div class= "right-column-portfolio">
									<div>
										<p class= "twenty no-margin center"><span class= "darkblue twenty">Invested </span>
											<%= number_to_currency investment.fund_america_invested_amount %>
										</p>
									</div>
								</div>
								<br>
							</div>
								<div class= "button-wrap">
								</div>
								<div class= "button-wrap"><%= button_to "Learn More", {controller: 'companies', :action => 'company_profile', :id => investment.company.id }, {:class => 'company-button twenty'} %>
								</div>
						</div>
					<% end %>
				</div>

				<div class= "centered twenty margin-bottom-50">
					<% if current_user.authority > 1 %>
				  	<%= link_to "Go Back to Offerings", {controller: 'companies' , :action => 'index'}, method: 'get', :id => 'go_back_button' %>
				  <% else %>
				  	<%= link_to "Go Back to Offerings", {controller: 'companies' , :action => 'nonaccredited_index'}, method: 'get', :id => 'go_back_button' %>
				  <% end %>
				</div>

		  </div></div>
		</div>
	</body>
	<style>
	.foot-text.darkblue{
	 	display: none;
	}
	</style>
</html>
