	<html>
<head>
	<title>DreamFunded | Write</title>
</head>

<body>
	<div class= "wrapper">
		<div class= "header"><h1 class= "centered">Administration Panel</h1></div>

		<div class= "word-content"><div class= "text-content">
			<%= button_to "Write a News Article", '/news/new', :method => 'get', :id => 'user-button' %>
			<%= button_to "Add a new Member", '/members/new', :method => 'get', :id => 'user-button' %>
			<%= button_to "Add a new Company", '/companies/new', :method => 'get', :id => 'user-button' %>
			<%= button_to "Edit a Company", '/companies/1/edit', :method => 'get', :id => 'user-button' %>
			<%= button_to "Newsletter Subscribers", '/guests', :method => 'get', :id => 'user-button' %>
			<%= button_to "Edit Liquidators (Sellers)", '/sellers', :method => 'get', :id => 'user-button' %>
			<% if @current_user.authority == @Authority[:Admin] %>
				<table id="user-table">
				 <tr>
			   	<th>First name</th>
			   	<th>Last name</th>
			   	<th>E-mail</th>
			   	<th>Phone</th>
			   	<th>Authority</th>
			   	<th>Promote</th>
			   	<th>Demote</th>
			   	<th>Delete</th>
			   	<th>Portfolio</th>
				 </tr>
				  	<% @users.each do |user| %>
				  		<tr>
								<td><%= link_to(user.first_name, edit_user_path(user) ) %></td>
								<td><%= user.last_name %></td>
								<td><%= user.email %></td>
								<td><%= user.phone %></td>
								<td><%= user.authority %></td>
								<td>
									<%= form_tag("/users/promote", method: "post") do %>
										<%= hidden_field_tag(:user, user.email) %>
										<%= submit_tag("Promote") %>
									<% end %>
								</td>
								<td>
									<%= form_tag("/users/demote", method: "post") do %>
										<%= hidden_field_tag(:user, user.email) %>
										<%= submit_tag("Demote") %>
									<% end %>
								</td>
								<td>
									<%= form_tag("/users/delete", method: "post") do %>
										<%= hidden_field_tag(:user, user.email) %>
										<%= submit_tag("Delete") %>
									<% end %>
								</td>
								<td><%= link_to("Portfolio", portfolio_admin_path(user.id)) %></td>
							</tr>
					<% end %>
				</table>
			<% end %>
		</div></div>
	</div>

</body>
</html>
