<html>
<head>
	<title>DreamFunded | Payment </title>
</head>
<body>
	<div class= "wrapper">
	<div class="header-container shadow">
		<div class= "header centered"><h1>Payment</h1></div>
	</div>

	<%= form_tag '/payment/input', multipart: true do %>
		<p>Card Number</p>
		<%= text_field_tag(:cardnumber, nil, :placeholder => "Card Number") %>
		<p>Expiration Dates</p>
		<%= text_field_tag(:month, nil, :placeholder => "Month") %>
		<%= text_field_tag(:year, nil, :placeholder => "Year") %>
		<p>Security Code</p>
		<%= text_field_tag(:cvv, nil, :placeholder => "Security Code") %>
		<p>Billing Zip Code</p>
		<%= text_field_tag(:zipcode, nil, :placeholder => "Billing Zip Code") %>
		<p>Amount</p>
		<%= text_field_tag(:amount, nil, :placeholder => "Amount") %>
	<% end %>
	</div>
</body>

</html>

