	<html>
<head>
	<% title "DreamFunded | About" %>
</head>

<body><div class= "wrapper">
	<div class="header">
		<h1 class="centered">About Us</h1>
	</div>
	<div class= "word-content"><div class= "text-content">
		<% @posts.each do |post|%>
			<% if user_session != nil && user_session.authority == authority[:Admin] %>
				<%= button_to "Delete", {:controller => :posts,  :action => 'destroy', :id => post.id }, :method => :delete, class: 'float-rigth' %>
				<%= link_to 'Edit', "/posts/#{post.id}/edit/about_us", {:class => 'right'} %>

			<% end %>
			<h2 class= "darkblue centered"><%= post.title%></h2>

			<p class= "faq-answer"><%#= post.content%>
				<%=nl2br(h(post.content)).html_safe %>
			</p>
			<br>
		<% end %>
		<% if user_session != nil && user_session.authority == authority[:Admin] %>
			<h3><%= link_to 'Create New', "/posts/new/about_us", {:class => 'right', :data => { :page => 'faq' }} %></h3>
		<% end %>
	</div></div>
</div>
</body>
</html>
