<html>
<head>
	<% title "DreamFunded | About" %>
</head>

<body><div class= "wrapper">
	<div class="header">
		<h1 class="centered">About Us</h1>
	</div>
	<div class= "word-content"><div class= "text-content">
		<!--<% @posts.each do |post|%>
			<% if user_session != nil && user_session.authority == authority[:Admin] %>
				<%= button_to "Delete", {:controller => :posts,  :action => 'destroy', :id => post.id }, :method => :delete, class: 'float-rigth' %>
				<%= link_to 'Edit', "/posts/#{post.id}/edit/about_us", {:class => 'right'} %>

			<% end %>
			<h2 class= "darkblue centered"><%= post.title%></h2>
			<br>

			<p class= "faq-answer"><%#= post.content%>
				<%=nl2br(h(post.content)).html_safe %>
			</p>
			<br>
		<% end %>
		<% if user_session != nil && user_session.authority == authority[:Admin] %>
			<h3><%= link_to 'Create New', "/posts/new/about_us", {:class => 'right', :data => { :page => 'faq' }} %></h3>
		<% end %> -->
		<h2 class= "darkblue centered">Our Story</h2>
		<p class= "faq-answer">
		We launched DreamFunded in the fall of 2014 with the dream of funding some of the hottest new tech startups in Silicon Valley while also capitalizing on the equity crowdfunding market. We were successful in that goal, funding many promising companies and already seeing one exit. The equity crowdfunding space, like any new market is full of new and exiting opportunities waiting to be tapped into. After funding those companies, we noticed a huge new demand emerge, liquidity for employees in Silicon Valley’s biggest private tech companies. 
		</p>
		<p class= "faq-answer">
		In 2000, the average time to IPO for a private tech firm in Silicon Valley was 4 years; as of 2014, the average time to IPO is 11. This push to later stage funding rounds is placing tremendous strain on employees with equity in these tech companies. We noticed a huge opportunity here, one that had not been properly attacked. The opportunity lies in the huge demand on both the employee side (for liquidity) and the investor side (for investment). Unlike 2000, the Google’s of todays tech boom are all private companies. 
		</p>
		<%= image_tag('static/returns.png', :class => 'about-image') %>
		<p class= "faq-answer">
		This massive push to later stage funding rounds has crippled big returns for investors in the public markets, who are no longer able to capitalize on a company’s growth curve after an 11 year IPO. Those public investors are now looking to put capital into the private markets. There is tremendous value locked up in employee equity in the valley. There are currently 114 private “unicorn” companies in Silicon Valley with a combined valuation of $409 Billion, 15% of which is locked up in the hands of the employees. 
		</p>
		<%= image_tag('static/trends.png', :class => 'about-image') %>
		<p class= "faq-answer">
		DreamFunded is ready for the future of equity crowdfunding by offering both vetted, early stage investments as well as later stage, pre-IPO shares. In May of 2016, Title III of the JOBS Act will be implemented, letting non-accredited investors into the market. DreamFunded will capitalize on this by offering pre-screened and proven investment opportunities for investors, improving the investors chance of success. 
		</p>
		<br><br>
		<h2 class= "darkblue centered">Team</h2>
		<p class= "faq-answer">
		We have a very strong founding team backing DreamFunded. Our co-founders have extensive backgrounds in angel investing, venture capital and startup curation and our tech team comes from the best companies and universities in the world. Their experience, combined with DreamFunded's extensive network in Silicon Valley enable DreamFunded to be a leader in this huge, new equity crowdfunding market. 
		</p>

		<p class= "faq-answer">
			Click <u><%= link_to 'here', :action => 'link_team' %></u> to read about our founders and team.
		</p>

	</div></div>
</div>
</body>
</html>
