<html>
  <head>
    <% title "DreamFunded | Education " %>
  </head>

  <body>
    <div class= "wrapper">
      <div class="header">
        <h1 class="centered">Education</h1>
      </div>
      <div class= "left-panel">
        <ul class='education-menu'>
            <a href='/education/basics'><li class='education-item active'>The Basics</li></a>
            <a href='/education/investing-tips'><li class='education-item'>Investing Tips & Strategies</li></a>
            <!-- <a href='/education/rules-regulations'><li class='education-item'>Rules & Regulations</li></a> -->
            <a href='/education/important-terms'><li class='education-item'>Important Terms</li></a>
        </ul>
      </div>
      <div class= "right-panel word-content">
        <div class= "text-content">
            <h3 class= "question darkblue flip">The Basics</h3>
            <ul class='education-center-list'>
                <!-- <li>Getting Started With DreamFunded </li> -->
<!--                 <li>What is an Angel Investor? </li>
                <p class='panel'>
                   An “angel investor” is an investor who invests capital into startups. The “angel” title is a refers to the early risk that angel investors took on startups and founding teams.  “Angel investing” involves investing money in startup companies in exchange for ownership stakes in those companies.
                    Angel investors in the US collectively invest nearly as much as US-based VCs, about $25-$30 billion per year.

                </p>
                <li>What is CrowdFunding? </li>
                <p class='panel'>
                    Many people might not know this but crowdfunding has been around for years.  It is one of the oldest forms of raising money.  Crowdfunding, in its most basic form, is pooling money together from multiple sources for a common investment interest.  This style of fundraising has been a Wall Street favorite for hundreds of years.  However, crowdfunding as we know it today has changed, it is no longer just a word of mouth process. <br><br>

                    Thanks to technology, crowdfunding has moved online where people from all across the world can invest together in a myriad of different things.  Standard crowdfunding, without the equity component typically refers to platforms like Indiegogo and KickStarter, which are the most well-known online crowdfunding platforms in the United States.  These and other similar crowdfunding platforms raise money in the form of “donations” for all types of different things; from new products and companies, to social causes and public initiatives. These donations are often in return for some sort of “Perk”, such as a product or service, like a tee shirt, product prototype or event ticket.  Online crowdfunding does have limits, especially in the United States where investors, unless accredited are not allowed to invest in a company in exchange for equity in that company.  Meaning, if you go to Indiegogo or Kickstarter, you will only be able to “donate” money in return for various perks from the company, such as a tee shirt or product.  This is where equity crowdfunding takes over.
                </p>
                <li>What is Equity CrowdFunding? </li>
                <p class='panel'>
                    You might have heard the term “equity crowdfunding” at some point in the past few years.  You might be wondering how it differs from traditional crowdfunding. Simply put, investors participating in equity crowdfunding offerings are actually investing in return for an equity ownership stake in the offering company.  An easy way to remember the difference is equity crowdfunding is for actual equity and standard crowdfunding is not. <br><br>

                    The term equity crowdfunding is the hottest term and most controversial subject in the investment world at the moment.  Unfortunately for 97% of Americans, participating in equity crowdfunding has been out of the realm of possibility because of SEC regulations.  Those regulations, which will be superfluous in May of 2016, mandate that investors must be classified as an “Accredited Investor”.


                </p>
                <li>What is an Accredited Investor? </li>
                <p class='panel'>SEC regulations mandate that investors must be an “Accredited Investor” to participate in private equity investment offerings.     To be classified as an accredited investor and participate in equity crowdfunding, you must meet one of the following, self accredited, SEC   requirements:<br><br>

                &nbsp; &nbsp;1.Have a personal net worth of over $1,000,000, excluding your primary residence.<br>
                &nbsp; &nbsp;2.Earn an annual income of $200,000 or more if you are filing as single.<br>
                &nbsp; &nbsp;3.Earn an annual income of 300,000 or more if you are filing as married.<br>
                &nbsp; &nbsp;4.Be investing on behalf of an institution, fund or family office.<br><br>

                Since the passing of the JOBS Act in 2012, equity crowdfunding platforms have been waiting for the eventual implementation of Title III.  Title III of the JOBS Act, also known as CrowdFunding, was expected to lift the SEC’s accreditation requirements allowing non-accredited investors into the market and opening up 97% of the marketplace.

                <li>What is the JOBS Act? </li>
                <p class='panel'>  The JOBS Act (Jumpstart Our Business Startups Act) was signed in 2012 with the intention of putting more capital in American startup companies to stimulate job growth.  The most notable of these acts is Title III, also known as crowdfunding. <br><br>

                - Title III of the JOBS Act, also known as Crowdfunding allows non-accredited investors to invest in private equity offerings for the first time in over 80 years. This means non-accredited investors can participate in DreamFunded offerings starting in May of 2016.
                </p>

                <li>What is a Difference Between a Primary and Secondary Investment? </li>
                <p class='panel'>Primary Investment: A Primary Investment is an investment made directly into one of a company's main funding rounds (ex: Series B).  You are not purchasing equity from someone who already made an investment and primary investments are typically done through a VC firm or Fund, unless you have access to the company's seed round.<br><br>
                Secondary Investment:  A Secondary Investment is an investment made into the stock of a company through a secondary source (not the company directly).  If you purchase shares of a private company from an early investor or employee in that company who had ownership before you, it is a secondary investment.  Secondary investments are traded and sold on secondary markets, like ours.</p> -->

            <% @posts.each do |post|%>
              <% if user_session != nil && user_session.authority == authority[:Admin] %>
                <%= button_to "Delete", {:controller => :posts,  :action => 'destroy', :id => post.id }, :method => :delete, class: 'float-rigth' %>
                <%= link_to 'Edit', "/posts/#{post.id}/edit/basics", {:class => 'right'} %>

              <% end %>
              <li><%= post.title%></li>

              <p class='panel'><%#= post.content%>
                <%= nl2br(h(post.content)).html_safe %>
              </p>

            <% end %>

            <% if user_session != nil && user_session.authority == authority[:Admin] %>
              <h3><%= link_to 'Create New', "/posts/new/basics", {:class => 'right', :data => { :page => 'faq' }} %></h3>
            <% end %>

            </ul>

            <br><br><br>


            <div class= "centered twenty">
              <%= button_to "Get Started", {:action => 'get_started'}, {:id => 'push'} %>
            </div>

        </div>
      </div>
    </div>
  </body>

</html>
<script>
$(document).ready(function(){
    $(".education-center-list li").click(function(){
        $(this).toggleClass('open');
        if($(this).hasClass('open') ){
            $(this).next().slideDown("slow");
        }else{
            $(this).next().slideUp("slow");
        }
    });
});
</script>
