<% title "DreamFunded | Contact Us" %>
<div class= "wrapper"><div class= "box signin-box centered">

  <div class="row">
    <div class=" active">
      <h2 class= "darkblue no-margin centered"><a  id="login-form-link">Contact DreamFunded</a></h2>
      <br>
      <div class='contact-us-info company-name'>
        DreamFunded, Inc.</div>
      <div class='address1'>
          <div class='contact-us-info'>San Francisco HQ</div>
          <div class='contact-us-info'>425 Market Street</div>
          <div class='contact-us-info'>22nd Floor, Suite 30</div>
          <div class='contact-us-info'>San Francisco, CA 94105</div>
          <div class='contact-us-info'>(415) 349-3832</div>
      </div>
      <div class='address1'>
          <div class='contact-us-info'>New York City Office</div>
          <div class='contact-us-info'>40 Wall Street</div>
          <div class='contact-us-info'>28th Floor</div>
          <div class='contact-us-info'>New York, NY 10005</div>
          <div class='contact-us-info'>(646) 941-9819</div>
      </div>
    </div>
  </div>

  <div class= "login-container">
    <%= form_tag('contact_us', :method => :post, :id => "contact_us") do %>
      <%= invisible_captcha %>
      <%= text_field_tag(:name, nil, :class =>"userbox", :placeholder => "Name", :required => true) %>
      <%= text_field_tag(:email, nil, :class =>"userbox", :placeholder => "Email", :required => true) %>
      <%= text_field_tag(:phone, nil, :class =>"userbox", :placeholder => "Phone") %>
      <%= text_area(:message, nil, rows: 4, :class =>"userbox expand", :placeholder => "Type Your Message", :required => true) %>
      <br>

        <div class = "notice centered">
          <h2 class='darkblue' ><%= flash[:notice] if flash[:notice] %></h2>
          <%= @error_message %>
        </div>
      <div class= "centered">
        <%= submit_tag("Send", :class => "login-button") %>
      </div>
    <% end %>
  </div>

</div>
