<html>
	<head>
		<% title "DreamFunded | FAQs " %>
	</head>

	<body>
		<div class= "wrapper">
			<div class="header">
				<h1 class="centered">Frequently Asked Questions</h1>
			</div>
			<div class= "word-content"><div class= "text-content">


				<% @posts.each do |post|%>
					<% if current_user != nil && current_user.authority == authority[:Admin] %>
						<%= button_to "Delete", {:controller => :posts,  :action => 'destroy', :id => post.id }, :method => :delete, class: 'float-rigth' %>
						<%= link_to 'Edit', "/posts/#{post.id}/edit/faq", {:class => 'right'} %>
						<span class='paragraph-position right'>positon: <%= post.position %></span>
					<% end %>
					<div class='faq_post'>
						<h4 class= "question"><%= post.title%></h4>
						<p class= "faq-answer">
							<%= post.content.html_safe %>
						</p>
						<br>
					</div>
				<% end %>
				<% if current_user != nil && current_user.authority == authority[:Admin] %>
					<h3><%= link_to 'Create New',  "/posts/new/faq", {:class => 'right', :data => { :page => 'faq' }} %></h3>
				<% end %>


				<br><br>

				<div class= "centered twenty">
					<%= button_to "Get Started", {:action => 'get_started'}, {:id => 'push', class: "link-button"} %>
				</div>

			</div></div>
		</div>
	</body>

</html>
