<html>
	<head>
		<% title "DreamFunded | FAQs " %>
	</head>

	<body>
		<div class= "wrapper">
			<div class="header">
				<h1 class="centered">Frequently Asked Questions</h1>
			</div>
			<div class= "word-content"><div class= "text-content">


				<% @posts.each do |post|%>
					<% if user_session != nil && user_session.authority == authority[:Admin] %>
						<%= button_to "Delete", {:controller => :posts,  :action => 'destroy', :id => post.id }, :method => :delete, class: 'float-rigth' %>
						<%= link_to 'Edit', "/posts/#{post.id}/edit/faq", {:class => 'right'} %>
						<span class='paragraph-position right'>positon: <%= post.position %></span>

					<% end %>
					<h4 class= "question"><%= post.title%></h4>
					<p class= "faq-answer"><%#= post.content%>
						<%= nl2br(h(post.content)).html_safe %>
					</p>
					<br>
				<% end %>
				<% if user_session != nil && user_session.authority == authority[:Admin] %>
					<h3><%= link_to 'Create New',  "/posts/new/faq", {:class => 'right', :data => { :page => 'faq' }} %></h3>
				<% end %>


				<br><br>

				<div class= "centered twenty">
					<%= button_to "Get Started", {:action => 'get_started'}, {:id => 'push'} %>
				</div>

			</div></div>
		</div>
	</body>

</html>
