<% title "DreamFunded | Invest or Sell Pre-IPO Shares" %>
		<div class= "cover-image">
				<div class= "space-keeper"><%= image_tag("skylinedark comp.png", :class => "sky") %></div>
				<div class= "big-title white ">
					<h1 class= "remove-margin">Access to Pre-IPO Tech Companies</h1>
					<div class= "top-space"><h3 class= "remove-margin">Sillicon Valley's Private Tech Stock Market ~ Invest or Sell Private Shares</h3></div>
					<div class= "top-space"><h3 class= "remove-margin"></h3></div>
					<div class= "centered button-box">
						<%= link_to "Get Started", {:action => 'get_started'}, {:class => 'invest-button invest-now-button'} %>
						<%#= link_to "Liquidate Now", {:action => 'liquidate'}, {:class => 'invest-button liquidate-now-button'} %>
					</div>
				</div>
				<!-- FALSE FOR NOW. UNTIL FIND OUT TO DO WITH THIS -->
				<% if false %>
					<div class= "story"><div class= "story-cont fullWidth">
						<h2 class= "centered darkblue yes-margin">Recent Portfolio Successes</h2>
						<div class= "one-story">
							<div class= "story-img" onmouseover="document.getElementById('one').style.display = 'block'; document.getElementById('two').style.display = 'none'; document.getElementById('three').style.display = 'none';"><%= link_to (image_tag "news/#{@news_one.image_filename}", :class => "image5"), {:controller => 'news', :action => 'full', :id => @news_one.id} %>
							</div>
						</div>

						<div class= "one-story" onmouseover="document.getElementById('two').style.display = 'block'; document.getElementById('one').style.display = 'none'; document.getElementById('three').style.display = 'none';">
							<div class= "story-img"><%= link_to (image_tag "news/#{@news_two.image_filename}", :class => "image5"), {:controller => 'news', :action => 'full', :id => @news_two.id} %>
							</div>
						</div>

						<div class= "one-story" onmouseover="document.getElementById('two').style.display = 'none'; document.getElementById('one').style.display = 'none'; document.getElementById('three').style.display = 'block';">
							<div class= "story-img"><%= link_to (image_tag "news/#{@news_three.image_filename}", :class => "image5"), {:controller => 'news', :action => 'full', :id => @news_three.id} %>
							</div>
						</div>

						<div class= "black-box back" id = "one" ><div class= "black-box-content">
							<h2 class= "centered"><%= @news_one.title %></h2>
						</div></div>

						<div class= "black-box back" id = "two"><div class= "black-box-content">
							<h2 class= "centered"><%= @news_two.title %></h2>
						</div></div>

						<div class= "black-box back" id = "three"><div class= "black-box-content">
							<h2 class= "centered"><%= @news_three.title %></h2>
						</div></div>


					</div> </div>
			<% end %>

			<br>
			<h2 class= "centered darkblue">We're Your Way Into Tech Companies Before They Go Public</h2>
			<br>
			<div class= "section2-wrap"><div class= "section2"><div class="boxes">

				<div class= "section2-box">
					<a href='/liquidate'>
						<div class= "section2-content">
							<div class= "outer"><%= image_tag("static/lock.png", :class => "image2") %></div>
							<br><br>
							<h2 class= "centered darkblue">Quick Liquidity</h2>
							<div class= "box-text">
								<p class= "seventeen centered">Unlock Cash for Your Shares. Perfect for Tech Employees and Early Investors.</p>
							</div>
						</div>
					</a>
				</div>


				<div class= "section2-box"><div class= "section2-content">
					<div class= "outer middle"><%= image_tag("static/glass.png", :class => "image2") %></div>
					<br>
					<h2 class= "centered darkblue">Browse Investments</h2>
					<div class= "box-text">
						<p class= "seventeen centered">As a Member, You Can Review Our Selection of Proven Tech Companies.</p>
					</div>
					<!-- <h2 class='centered darkblue padding-mentioned-in'>Mentioned In</h2> -->
				</div></div>

				<div class= "section2-box"><div class= "section2-content">
					<div class= "outer"><%= image_tag("static/wheel.png", :class => "image2") %></div>
					<br><br>
					<h2 class= "centered darkblue">Low Minimums</h2>
					<div class= "box-text">
						<p class= "seventeen centered">Invest as little as $1,000 reducing the risk allowing for a diversified portfolio.</p>
					</div>
				</div>
			</div>
			</div></div>

			<div class= "logos fullWidth">
				<div class= "logo-title">
					<h2 class= "centered transparent">DreamFunded</h2>
				</div>
				<div class= "logos-container">
					<div class= "logo-title">
						<h2 class= "centered darkblue" id='mentioned_in'>As Seen In</h2>
					</div>
					<div class= "row1">
						<%= image_tag("static/Forbes.jpg", class: "padding-top-100") %>
						<%= image_tag("static/inc.png") %>
						<%= image_tag("static/tech.png") %>
						<%= image_tag("static/fox.jpg") %>
					</div>

					<div class= "row2">
						<%=  image_tag("static/entrepreneur.png") %>
						<%=  image_tag("static/wallstreet.png", id: 'wallstreet_logo') %>
						<%=  image_tag("static/fast_company.png", id: 'fast_company_logo') %>
					</div>
				</div>
			</div>

			<div class= "centered	bottom-buttons">
				<%= link_to "Get Started", {:action => 'get_started'}, {:class => 'invest-button invest-now-button'} %>
				<%#= link_to "Liquidate Now", {:action => 'liquidate'}, {:class => 'invest-button liquidate-now-button'} %>
			</div>

		</div>
		<div class= "foot-bar">
			<div class= "foot-wrap">
				<div class= "image3-box gap"><%= link_to image_tag("static/logo.png", :class => 'image3'), "http://www.angelcapitalassociation.org/", :target => "_blank" %></div>
				<div class= "image3-box gap"><%= image_tag("static/DreamFunded-Logo-Vertical-lightblue.png", :class => 'image3') %></div>
				<div class= "image4-box gap">
					<%= link_to image_tag("static/facebook.png", :class => 'image4'), "https://www.facebook.com/dreamfundedcom", :target => "_blank" %>
					<%= link_to image_tag("static/twitter.png", :class => 'image4'), "https://twitter.com/dreamfunded", :target => "_blank" %>
					<%= link_to image_tag("static/linkedin.png", :class => 'image4'), "https://www.linkedin.com/company/dreamfunded-com", :target => "_blank" %>
					<%= link_to image_tag("static/angel.png", :class => 'image4'), "https://angel.co/dreamfunded-1", :target => "_blank" %>
				</div>
			</div>
		</div>

