<% title "DreamFunded | Access to Invest in Pre-IPO Tech companies" %>
		<div class= "cover-image">
				<div class= "space-keeper"><%#= image_tag("smaller_bg.jpg", :class => "sky") %></div>
				<div class= "big-title white ">
					<h1 class= "remove-margin">Access to Invest in Pre-IPO Tech Companies</h1>
					<div class= "top-space"><h3 class= "remove-margin">Sillicon Valley's 1st Private Tech Stock Market ~ Buy or Sell Private Shares</h3></div>
					<div class= "top-space"><h3 class= "remove-margin"></h3></div>
					<div class= "centered button-box">
						<%= link_to "Get Started", {:action => 'get_started'}, {:class => 'invest-button invest-now-button'} %>
						<%#= link_to "Liquidate Now", {:action => 'liquidate'}, {:class => 'invest-button liquidate-now-button'} %>
					</div>
				</div>
				<!-- FALSE FOR NOW. UNTIL FIND OUT TO DO WITH THIS -->
				<% if false %>
					<div class= "story"><div class= "story-cont fullWidth">
						<h2 class= "centered darkblue yes-margin">Recent Portfolio Successes</h2>
						<div class= "one-story">
							<div class= "story-img" onmouseover="document.getElementById('one').style.display = 'block'; document.getElementById('two').style.display = 'none'; document.getElementById('three').style.display = 'none';"><%= link_to (image_tag "news/#{@news_one.image_filename}", :class => "image5"), {:controller => 'news', :action => 'full', :id => @news_one.id} %>
							</div>
						</div>

						<div class= "one-story" onmouseover="document.getElementById('two').style.display = 'block'; document.getElementById('one').style.display = 'none'; document.getElementById('three').style.display = 'none';">
							<div class= "story-img"><%= link_to (image_tag "news/#{@news_two.image_filename}", :class => "image5"), {:controller => 'news', :action => 'full', :id => @news_two.id} %>
							</div>
						</div>

						<div class= "one-story" onmouseover="document.getElementById('two').style.display = 'none'; document.getElementById('one').style.display = 'none'; document.getElementById('three').style.display = 'block';">
							<div class= "story-img"><%= link_to (image_tag "news/#{@news_three.image_filename}", :class => "image5"), {:controller => 'news', :action => 'full', :id => @news_three.id} %>
							</div>
						</div>

						<div class= "black-box back" id = "one" ><div class= "black-box-content">
							<h2 class= "centered"><%= @news_one.title %></h2>
						</div></div>

						<div class= "black-box back" id = "two"><div class= "black-box-content">
							<h2 class= "centered"><%= @news_two.title %></h2>
						</div></div>

						<div class= "black-box back" id = "three"><div class= "black-box-content">
							<h2 class= "centered"><%= @news_three.title %></h2>
						</div></div>


					</div> </div>
			<% end %>


			<h2 class= "centered darkblue homepage-line-text">We're Your Way Into Tech Companies Before They Go Public</h2>

			<div class= "section2-wrap"><div class= "section2"><div class="boxes">

				<div class= "section2-box">
					<a href='/liquidate'>
						<div class= "section2-content">
							<div class= "outer"><%= image_tag("static/lock.png", :class => "image2") %></div>
							<br><br>
							<h2 class= "centered darkblue">Quick Liquidity</h2>
							<div class= "box-text">
								<p class= "seventeen centered">Unlock Cash for Your Shares. Perfect for Tech Employees and Early Investors.</p>
							</div>
						</div>
					</a>
				</div>


				<div class= "section2-box"><div class= "section2-content">
					<div class= "outer middle"><%= image_tag("static/glass.png", :class => "image2") %></div>
					<br>
					<h2 class= "centered darkblue">Browse Investments</h2>
					<div class= "box-text">
						<p class= "seventeen centered">As a Member, You Can Review Our Selection of Proven Tech Companies.</p>
					</div>
					<!-- <h2 class='centered darkblue padding-mentioned-in'>Mentioned In</h2> -->
				</div></div>

				<div class= "section2-box"><div class= "section2-content">
					<div class= "outer"><%= image_tag("static/wheel.png", :class => "image2") %></div>
					<br><br>
					<h2 class= "centered darkblue">Low Minimums</h2>
					<div class= "box-text">
						<p class= "seventeen centered">Invest as little as $1,000 reducing the risk allowing for a diversified portfolio.</p>
					</div>
				</div>
			</div>
			</div></div>

			<div class= "logos fullWidth">
				<div class= "logo-title">
					<h2 class= "centered transparent">DreamFunded</h2>
				</div>
				<div class= "logos-container">
					<div class= "logo-title">
						<h2 class= "centered darkblue" id='mentioned_in'>As Seen On</h2>
					</div>
					<span class="desktop_logos">
							<div class= "row1">
								<span class='homepage-press-mentions'><%= image_tag("static/nbc-logo.png") %></span>
								<span class='homepage-press-mentions'><%= image_tag("static/Forbes.jpg", class: "padding-top-100") %></span>
								<span class='homepage-press-mentions'><%= image_tag("static/tech.png") %></span>
								<span class='homepage-press-mentions'><%= image_tag("static/fox.jpg", id: 'fox-news-logo') %></span>
								<span class='homepage-press-mentions'><%= link_to image_tag("static/cnbc.png"), 'news/betting-on-pre-ipo-companies' %></span>
							</div>
							<div class='row1'>
								<span class='homepage-press-mentions'><%= image_tag("static/inc_logo.png", id: "inc_logo") %></span>
								<span class='homepage-press-mentions'><%= image_tag("static/fortune_logo.png", id: "fortune_logo") %></span>
								<span class='homepage-press-mentions'><%= image_tag("static/cnn.png", class: 'cnn-logo') %></span>
							</div>
							<div class= "row2">
								<%=  image_tag("static/entrepreneur.png") %>
								<%=  image_tag("static/wallstreet.png", id: 'wallstreet_logo') %>
								<%=  image_tag("static/fast_company.png", id: 'fast_company_logo') %>
							</div>
					</span>
					<span class="mobile-logos">
							<div class= "row1">
							  <span class='homepage-press-mentions'><%= image_tag("static/nbc-logo.png") %></span>
							  <span class='homepage-press-mentions'><%= image_tag("static/Forbes.jpg", class: "padding-top-100") %></span>
							  <span class='homepage-press-mentions'><%= image_tag("static/tech.png") %></span>
							</div>
							<div class='row1'>
							  <span class='homepage-press-mentions'><%= image_tag("static/fox.jpg", id: 'fox-news-logo') %></span>
							  <span class='homepage-press-mentions'><%= link_to image_tag("static/cnbc.png"), 'news/betting-on-pre-ipo-companies' %></span>
							  <span class='homepage-press-mentions'><%= image_tag("static/inc.png", id: "inc_logo") %></span>
							  <span class='homepage-press-mentions'><%#= image_tag("static/cnn.png", class: 'cnn-logo') %></span>
							</div>
							<div class= "row2">
							  <span class='homepage-press-mentions'><%= image_tag("static/fortune_logo.png", id: "fortune_logo") %></span>
							  <span class='homepage-press-mentions'><%=  image_tag("static/entrepreneur.png", id: "entrepreneur_logo") %></span>
							</div>
							<div class= "row2">
							  <%=  image_tag("static/wallstreet.png", id: 'wallstreet_logo') %>
							  <%=  image_tag("static/fast_company.png", id: 'fast_company_logo') %>
							</div>
					</span>

				</div>
			</div>

			<div class= "centered	bottom-buttons">
				<%= link_to "Get Started", {:action => 'get_started'}, {:class => 'invest-button invest-now-button'} %>
				<%#= link_to "Liquidate Now", {:action => 'liquidate'}, {:class => 'invest-button liquidate-now-button'} %>
			</div>
		</div>
		<!-- Newsletter Subscribers -->
		<div class='cnbc-video-wrapper'>
				<h2 class='watch-video-cnbc'>DreamFunded as seen on CNBC Squawk Box</h2>
				<div class='cnbc-video-title watch-video-cnbc'>
					<!-- <span class='cnbc-video-text'>Betting on pre-IPO companies</span><br> -->
					<span class='cnbc-video-description'>Manny Fernandez, DreamFunded CEO, weighs in on Silicon Valley's private tech stock market that connects angel investors with private markets through an equity crowdfunding platfrom.</span>
					<%= link_to 'More News', news_index_path, class: 'cnbc-link-news' %>
				</div>
				<iframe class='cnbc-youtube-video' src="https://www.youtube.com/embed/UosDuIgUCjI" frameborder="0" allowfullscreen></iframe>
		</div>

		<div id='toast-container'>
			<div id='toastEmail'>
				<i class="fa fa-times" id='close-subcribtion'></i>
				<p>Join our educational newsletter and <b>become a better investor</b> today.</p>
				<%= form_for Guest.new, remote: true do |f|%>
					<%= f.text_field 'email', required: true, id: 'newsletter-text-field' %>
					<button id='newsletter-submit-button'>SUBSCRIBE</button>
					<p id='display-later'>THANK YOU</p>
				<% end %>
			</div>
		</div>

		<div class="investor-logos">
			<!-- <div class="fb-like" data-href="https://www.facebook.com/dreamfundedcom/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div> -->
			<div class="fb-like" data-href="https://www.facebook.com/dreamfundedcom/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>

			<%= image_tag("static/aca_logo.png", :class => 'aca-logo') %>
			<%= image_tag("static/perkins.png", :class => 'perkins-logo') %>
			<a class= "indent foot-text "> COPYRIGHT © <%= Time.now.year %> DREAMFUNDED </a>
		</div>
<!-- 		<div class= "foot-bar">
			<div class= "foot-wrap">
				<div class= "image3-box gap"><%= image_tag("static/DreamFunded-Logo-Vertical-lightblue.png", :class => 'image3') %></div>
				<div class= "image4-box gap">
					<%= link_to image_tag("static/facebook.png", :class => 'image4'), "https://www.facebook.com/dreamfundedcom", :target => "_blank" %>
					<%= link_to image_tag("static/twitter.png", :class => 'image4'), "https://twitter.com/dreamfunded", :target => "_blank" %>
					<%= link_to image_tag("static/linkedin.png", :class => 'image4'), "https://www.linkedin.com/company/dreamfunded-com", :target => "_blank" %>
					<%= link_to image_tag("static/angel.png", :class => 'image4'), "https://angel.co/dreamfunded-1", :target => "_blank" %>
				</div>
			</div>
		</div> -->
<% if user_session != nil %>
	<% if User.find(user_session.id).try(:confirmed) == false %>
		<!-- ---------------------- -->
		<a href="#dialog" class="modalLink">Verify Email Address</a>

		<div id="modal">
		  <!-- First modal window -->
		   <div id="dialog" class="window">
		    <div class="contents">
		    		<div class='close-icon'>
		    			<a href="#" class="close"><i class="fa fa-times"></i></a>
		    		</div>
		        <h3>Verify Email Address</h3>
		        <!-- <hr class='line-verify-modal'> -->
		        <p class='verify-modal-text'>Thank you for joining DreamFunded. A verification email has been sent to <%= user_session.email %>. Please complete your signup by clicking the link in this email.</p>
		        <center>
		        	<a href="#" class="close">Close</a>

		        </center>
		    </div>
		 </div>
		</div>
		<!-- ------------- -->
	<script>
	// run when page is ready
	$(document).ready(function(){

	    // create variable to hold the current modal window
	    var activeWindow;

	        // cancel the default link behaviour

	        // find the href of the link that was clicked to use as an id
	        var id = '#dialog'
	        console.log(id);
	        // assign the window with matching id to the activeWindow variable, move it to the center of the screen and fade in
	        activeWindow = $('.window' + id)
	            .css('opacity', '0') // set to an initial 0 opacity
	            .css('top', '50%') // position vertically at 50%
	            .css('left', '50%') // position horizontally at 50%
	            .fadeTo(500, 1); // fade to an opacity of 1 (100%) over 500 milliseconds

	        // create blind and fade in
	        $('#modal')
	            .append('<div id="blind" />') // create a <div> with an id of 'blind'
	            .find('#blind') // select the div we've just created
	            .css('opacity', '0') // set the initial opacity to 0
	            .fadeTo(500, 0.8) // fade in to an opacity of 0.8 (80%) over 500 milliseconds
	            .click(function(e){
	                closeModal(); // close modal if someone clicks anywhere on the blind (outside of the window)
	            });

	    $('a.close').click(function(e){
	            // cancel default behaviour
	            e.preventDefault();
	            // call the closeModal function passing this close button's window
	            closeModal();
	    });
	    function closeModal()
	    {
	        // fade out window and then move back to off screen when fade completes
	        activeWindow.fadeOut(250, function(){ $(this).css('top', '-1000px').css('left', '-1000px'); });
	        // fade out blind and then remove it
	        $('#blind').fadeOut(250,    function(){ $(this).remove(); });
	    }
	  // close NewsLetter Subscription Box
	});
	</script>
	<% end %>
<% end %>
<script type="text/javascript">
	 $('#close-subcribtion').click(function(){
	  $('#toast-container').hide();
	 })
</script>
