<% title "DreamFunded | Equity Crowdfunding Platform" %>
<% facebook_url "https://dreamfunded.vc/" %>
<% meta_tag "DreamFunded is a Silicon Valley equity crowdfunding platform.  " %>
<% facebook_image "https://dreamfunded.com/assets/logo_for_facebook.jpg" %>
<% facebook_secure_image "https://dreamfunded.com/assets/logo_for_facebook.jpg" %>

    <section class='background-image centered'>
        <div class='background-opacity'>

            <h1 class='website-title' >Invest in Startups</h1>
            <h3 class='website-subtitle '>Back companies you like. Everyone  got access <br>
                to invest in private companies they believe in. </h3>

            <div class= "centered button-box">
                <%= link_to "Get Started", {:action => 'get_started'}, {:class => 'invest-button new-invest-button'} %>
            </div>
        </div>
    </section>



    <section class='what-is-dreamfunded centered'>
        <div class='section-title'>What is DreamFunded?</div>
        <div>
            <span class="about-us-icons active-tab">Startups</span>
            <span class="about-us-icons">Investors</span>
        </div>
        <article class='inline-block-icons ' >
            <%= image_tag "communication.png", class: "about-us-images" %>
            <p class='icon-description'>Reach our Network of 100K+  Potential Investors and <br>Use our Free Marketing Tools</p>

        </article>

        <article class='inline-block-icons '>
            <%= image_tag "laptop.png", class: "about-us-images" %>
            <p class='icon-description'>Accept investments <br> directly online</p><br>
        </article>

        <article class='inline-block-icons '>
            <%= image_tag "148932 2.svg", class: "about-us-images" %>
            <p class='icon-description'>Focus on Building your Business <br>Spend less time on fundraising</p><br>
        </article>
    </section>


    <section class='mentioned-in'></section>



    <section class='currently-fundraising'></section>


    <section class='faq'></section>



<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <div class="investor-logos">
            <!-- <div class="fb-like" data-href="https://www.facebook.com/dreamfundedcom/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div> -->
            <div class="fb-like" data-href="https://www.facebook.com/dreamfundedcom/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>

            <%= image_tag("static/aca_logo.png", :class => 'aca-logo') %>
            <%= image_tag("static/perkins.png", :class => 'perkins-logo') %>
            <a class= "indent foot-text hide-on-desktop"> COPYRIGHT © <%= Time.now.year %></a>
        </div>
<!--        <div class= "foot-bar">
            <div class= "foot-wrap">
                <div class= "image3-box gap"><%= image_tag("static/DreamFunded-Logo-Vertical-lightblue.png", :class => 'image3') %></div>
                <div class= "image4-box gap">
                    <%= link_to image_tag("static/facebook.png", :class => 'image4'), "https://www.facebook.com/dreamfundedcom", :target => "_blank" %>
                    <%= link_to image_tag("static/twitter.png", :class => 'image4'), "https://twitter.com/dreamfunded", :target => "_blank" %>
                    <%= link_to image_tag("static/linkedin.png", :class => 'image4'), "https://www.linkedin.com/company/dreamfunded-com", :target => "_blank" %>
                    <%= link_to image_tag("static/angel.png", :class => 'image4'), "https://angel.co/dreamfunded-1", :target => "_blank" %>
                </div>
            </div>
        </div> -->
<% if current_user != nil %>
    <% if User.find(current_user.id).try(:confirmed) == false %>
        <!-- ---------------------- -->
        <a href="#dialog" class="modalLink">Verify Email Address</a>

        <div id="modal">
          <!-- First modal window -->
           <div id="dialog" class="window">
            <div class="contents">
                    <div class='close-icon'>
                        <a href="#" class="close"><i class="fa fa-times"></i></a>
                    </div>
                <h3>Verify Email Address</h3>
                <!-- <hr class='line-verify-modal'> -->
                <p class='verify-modal-text'>Thank you for joining DreamFunded. A verification email has been sent to <%= current_user.email %>. Please complete your signup by clicking the link in this email.</p>
                <center>
                    <a href="#" class="close">Close</a>

                </center>
            </div>
         </div>
        </div>
        <!-- ------------- -->
    <script>
    // run when page is ready
    $(document).ready(function(){

        // create variable to hold the current modal window
        var activeWindow;

            // cancel the default link behaviour

            // find the href of the link that was clicked to use as an id
            var id = '#dialog'
            console.log(id);
            // assign the window with matching id to the activeWindow variable, move it to the center of the screen and fade in
            activeWindow = $('.window' + id)
                .css('opacity', '0') // set to an initial 0 opacity
                .css('top', '50%') // position vertically at 50%
                .css('left', '50%') // position horizontally at 50%
                .fadeTo(500, 1); // fade to an opacity of 1 (100%) over 500 milliseconds

            // create blind and fade in
            $('#modal')
                .append('<div id="blind" />') // create a <div> with an id of 'blind'
                .find('#blind') // select the div we've just created
                .css('opacity', '0') // set the initial opacity to 0
                .fadeTo(500, 0.8) // fade in to an opacity of 0.8 (80%) over 500 milliseconds
                .click(function(e){
                    closeModal(); // close modal if someone clicks anywhere on the blind (outside of the window)
                });

        $('a.close').click(function(e){
                // cancel default behaviour
                e.preventDefault();
                // call the closeModal function passing this close button's window
                closeModal();
        });
        function closeModal()
        {
            // fade out window and then move back to off screen when fade completes
            activeWindow.fadeOut(250, function(){ $(this).css('top', '-1000px').css('left', '-1000px'); });
            // fade out blind and then remove it
            $('#blind').fadeOut(250,    function(){ $(this).remove(); });
        }
      // close NewsLetter Subscription Box
    });
    </script>
    <% end %>
<% end %>

