<html>
  <head>
    <% title "DreamFunded | Education " %>
  </head>

  <body>
    <div class= "wrapper">
      <!-- <div class="header">
        <h1 class="centered">Education Center</h1>
      </div> -->
      <div class="header education-center">
        <div class='education-title'><%=link_to "Education Center", education_path%></div>
        <%= link_to "All Education", education_path, class: 'education-links'%> <%= fa_icon "chevron-right"%> <a href="#" class='education-links'> Investors </a>
        <%= fa_icon "chevron-right"%>  <a href="#" class='education-links'>Taxes & Gains</a>
      </div>
      <div class= "left-panel">
        <ul class='education-menu'>
            <a href='/education/basics'><li class='education-item'>The Basics</li></a>
            <a href='/education/investing-tips'><li class='education-item'>Investing Tips & Strategies</li></a>
           <!--  <a href='/education/rules-regulations'><li class='education-item'>Rules & Regulations</li></a> -->
            <a href='/education/important-terms'><li class='education-item'>Important Terms</li></a>
            <a href='/education/taxes-gains'><li class='education-item active'>Taxes & Gains</li></a>
            <a href='/education/investor-qa'><li class='education-item'>Investor Q&A</li></a>
            <a href='/education/employee-qa'><li class='education-item'>Employee Q&A</li></a>
            <a href='/education/jobs_act'><li class='education-item '>JOBS ACT</li></a>
            <a href='/education/fund_raising_guide'><li class='education-item '>Fund Raising Guide</li></a>
           <!--  <a href='/education/market_trends'><li class='education-item'>Market Trends</li></a> -->
        </ul>
      </div>
      <div class= "right-panel ">
        <div class= "text-content">

            <h3 class= "question darkblue flip">Taxes & Gains</h3>
            <ul class='education-center-list'>

            <% @posts.each do |post|%>
                <% if user_session != nil && user_session.authority == authority[:Admin] %>
                    <%= button_to "Delete", {:controller => :posts,  :action => 'destroy', :id => post.id }, :method => :delete, class: 'float-rigth' %>
                    <%= link_to 'Edit', "/posts/#{post.id}/edit/taxes", {:class => 'right'} %>

                <% end %>
                <li><%= link_to post.title, post %></li>

                <div class='panel ckeditor'><%#= post.content%>
                    <%= post.content.html_safe %>
                </div>

            <% end %>
            <% if user_session != nil && user_session.authority == authority[:Admin] %>
                <h3><%= link_to 'Create New', "/posts/new/taxes", {:class => 'right'} %></h3>
            <% end %>
            </ul>

            <br><br><br>

            <div class= "centered twenty">
              <%= button_to "Get Started", {:action => 'get_started'}, {:id => 'push'} %>
            </div>

        </div>
      </div>
    </div>
  </body>

</html>

