<html>
<head>
	<title>DreamFunded | Adding a new team member</title>
</head>

<body>
        <div class= "wrapper"><div class= "box signin-box">
            <h2 class= "centered"> Add a new Team Member </h2>
            <%= form_for @team, :url => url_for(:controller => 'home_controller', :action => 'create'), multipart: true do |f| %>
                <%= f.text_field(:name, :placeholder => "Name", :class => "input-box") %><br>

                <%= f.text_field(:title, :placeholder => "Title", :class => "input-box") %><br>

                <label for = "file">Upload Personal Image: </label>
                <%= f.file_field "image" %><br>

                <div>
                    <%= flash[:file_uploaded] if flash[:file_uploaded] %>
                </div>

                <div class= "description-wrap">
                    <%= f.text_area(:summary, :placeholder => "Summary of the Biography", :class => "description-box") %>
                </div>

                <div class= "description-wrap">
                    <%= f.text_area(:fullbio, :placeholder => "Full Biography", :class => "description-box") %>
                </div>

                <div class= "centered">
                    <%= f.submit("Add", :id => "submit-button") %>
                </div>
            <% end %>
    </div></div>
</body>
</html>
