<html>
<head>
	<title>DreamFunded | Adding a new team member</title>
</head>

<body><div>
    <div>
        <h2> Enter the profile of the new member. </h2>

        <%= form_tag '/home/create', multipart: true do %>

            <%= text_field_tag(:name, nil, :placeholder => "Name") %><br>

            <label for = "file">Upload Personal Image: </label>
            <%= file_field_tag "file" %><br>

            <div>
                <%= text_area(:summary, nil, :placeholder => "Summary of the Biography") %>
            </div>

            <div>
                <%= text_area(:fullbio, nil, :placeholder => "Full Biography") %>
            </div>

            <div>
                <%= flash[:file_uploaded] if flash[:file_uploaded] %>
            </div>
            
            <div>
                <%= submit_tag("Register", :id => "submit-button") %>
            </div>
        <% end %>
    </div>
</div>
</body>
</html>