<html>
<head>
	<title>DreamFunded | Adding a new team member</title>
</head>

<body><div class= "wrapper">
	<%= form_for :add do |f| %>
	<p>
    <%= f.label :"Full Name" %><br>
    <%= f.text_field :full_name %>
    </p>

	<label for = "file">Upload Portrait: </label>
	<%= file_field_tag "file" %>

    <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
    </p>

    <p>
    <%= f.label :"Full Bio" %><br>
    <%= f.text_area :fullbio %>
    </p>

    <p>
    <%= f.submit %>
    </p>

    <% end %>

</div>
</body>

</html>