<html>
<head>
	<%= stylesheet_link_tag		'team', media: 'all' %>
	<title>DreamFunded | Our Team</title>
</head>

<body>
	<div class= "wrapper">
	<div class="header-container">
		<div class= "header centered"><h1>Our Team</h1></div>
		<p class= "header-contents centered">DreamFunded is a company built by angel investors for investors. We strive to cultivate long lasting relationships with startups, investors, and partners.</p>
	</div>

	<% if @teams != nil %> 
		<% @teams.each do |team| %>
			<%= image_tag "#{team.file_name}" %>
			<p> <%= team.name %> </p>
			<p> <%= team.summary %> </p>
			<div>
				<%= link_to "Full Bio", :controller => :home, :action => :team, :id => team.name %>
			</div>
		<% end %>
	<% end %>


</body>

</html>
