<div class= "wrapper">
  <div class= "box creation-wrap">
    <h2 class= "centered"> Edit article </h2>

    <%= form_for @article , multipart: true do |f| %>

      <%= f.text_field :title,  :placeholder => "Name of Your Article", :class => "input-box"%><br>
      <div class= "description-wrap">
        <%= f.text_area(:content, :placeholder => "Article Content", :class => "description-box") %>
      </div>

      <div class= "description-wrap">
        <%= f.text_area(:source, :placeholder => "Source", :class => "description-box source") %>
      </div>

      <div class= "description-wrap">
        <%= f.text_field(:position, :placeholder => "Position", :class => "description-box source") %>
      </div>

      <div class = "notice centered">
        <%= flash[:file_uploaded] if flash[:file_uploaded] %>
      </div>
      <%= f.text_field(:video_link, :placeholder => 'Youtube link',  :class=> 'input-box') %><br>

      <label for = "image">Upload Article Image: </label>
      <%= f.file_field "image" %><br>
      <%= image_tag @article.image.url, class: 'full-image' %>
      <div class= "centered">
        <%= submit_tag("Publish", :id => "submit-button") %>
      </div>
    <% end %>
  </div>
</div>
