<html>
	<head>
		<title>DreamFunded | <%= @article.title %> </title>
	</head>

	<body>
		<div class= "word-content"><div class="text-content">
			<div class= "topbar">
				<a href= "/news" class= "darkblue">&#8617; Back</a>
				<%= link_to("Next", full_article_path(@article.next_post), class: 'right') if @article.next_post %>
				<% if current_user != nil && current_user.authority == authority[:Admin] %>
					<%= link_to 'Edit', edit_news_path(@article), {:class => 'right'} %>
				<% end %>
			</div>
			<div class= "page">
				<div class= "art-text">
					<h2 class= "center darkblue title"><%= @article.title %></h2>
					<%= image_tag @article.image.url, :class => "full-image" %>
					<p class= "article"><%= nl2br(h(@article.content)).html_safe %></p>
				</div>
				<br><br><br>
				<div><p class= "article darkblue indent">Source: <%= link_to @article.source, @article.source %></p></div>
			</div>
		</div></div>
	</body>

</html>
