<html>

<head>
	<title>DreamFunded | News </title>
</head>

<body>

	<div class= "wrapper">
		<div class= "header"><h1 class= "centered">DreamFunded News<h1></div>

		<div class= "wrap">
			<% if @news != nil %>
				<div class= "news-container">
					<% @news.each do |article| %>
						<div class= "news-single-container">
							<% if user_session != nil && user_session.authority == authority[:Admin] %>
								<%= button_to "X", {action: 'remove_new', id: article.id} , {:class => 'remove-button'} %>
							<% end %>
							<div class= "news-image">
								<%= link_to image_tag("news/#{article.image_filename}", :class => "article-image"), {:action => 'full', :id => article.id } %>
							</div>

							<div class= "news">
								<div class= "title-container"> <%= article.title %> </div>
								<div class= "content-container"> <%= nl2br(h(article.content)).html_safe %></div>
								<%= button_to "Read More >", {:action => 'full', :id => article.id }, {:class =>'article-button'} %>
							</div>
						</div>
					<% end %>

					<div id="infinite-scrolling" class= "centered yes-margin">
					  <%= will_paginate %>
					</div>
				</div>
			<% end %>
		</div>

	</div>

</body>
