<html>

<head>
	<% title "DreamFunded | News " %>
</head>

<body>

	<div class= "wrapper">
		<div class= "header"><h1 class= "centered">DreamFunded News<h1></div>

		<div class= "wrap">
			<% if @news != nil %>
				<div class= "news-container">
					<% @news.each do |article| %>
						<div class= "news-single-container">
							<% if user_session != nil && user_session.authority == authority[:Admin] %>
								<%= button_to "X", {action: 'remove_new', id: article.id} , {:class => 'remove-button'} %>

								<span class='company-position'><%= article.position %></span>
							<% end %>
							<div class= "news-image">
								<%= link_to image_tag(article.image.url, :class => "article-image"), news_path(article) %>
							</div>

							<div class= "news">
								<div class= "title-container"> <%= article.title %> </div>
								<div class= "content-container"> <%= nl2br(h(article.content)).html_safe %></div>
								<div class='news-read-more-buton'>
									<%= link_to "Read More >", news_path(article), :class =>'article-button' %>
								</div>

							</div>
						</div>
					<% end %>

					<div id="infinite-scrolling" class= "centered yes-margin">
					  <%= will_paginate %>
					</div>
				</div>
			<% end %>
		</div>

	</div>

</body>
