<html>


<head>
	<title>DreamFunded | News Creation</title>
</head>

<body><div class= "wrapper">
	<div class= "box creation-wrap">
		<h2 class= "centered"> Create a new article </h2>

		<%= form_tag '/news/create', multipart: true do %>

			<%= text_field_tag(:title, nil, :placeholder => "Name of Your Article", :class => "input-box") %><br>

			<label for = "file">Upload Article Image: </label>
			<%= file_field_tag "file" %><br>

			<div class= "description-wrap">
				<%= text_area(:content, nil, :placeholder => "Article Content", :class => "description-box") %>
			</div>

			<div class= "description-wrap">
				<%= text_area(:source, nil, :placeholder => "Source", :class => "description-box source") %>
			</div>
			
			<div class = "notice centered">
				<%= flash[:file_uploaded] if flash[:file_uploaded] %>
			</div>
			
			<div class= "centered">
				<%= submit_tag("Publish", :id => "submit-button") %>
			</div>
		<% end %>
	</div>
</div>

</body>

</html>