<head>
  <% title "DreamFunded | Invite" %>
</head>

<body><div class= "wrapper">
  <div class="header">
    <h1 class="centered">Invites</h1>
  </div>
  <div class= "word-content">
    <h3 class=' education-category darkblue'>Gift your friends <b>$100</b> to get started on DreamFunded.</h3>
    <p class= "faq-answer center">When you invite a friend to join DreamFunded, we'll give them $100 to start investing with DreamFunded. And when they make an investment, you'll get $100 to invest too.</p>

    <div class="invite-via-email">
      <span class='invite-email-icon'><%=  fa_icon("envelope 2x")%> </span>
      <span class='invite-text'>Invite via Email</span>
      <span class='invite-form'>
        <%= form_for(Invite.new, remote: true) do |f| %>
          <%= f.text_field(:email, placeholder: 'Email Address',class: 'invite-text-input')%>
          <%= f.submit "Send", class: 'invite-button' %>
        <% end %>
      </span>
    </div>

    <div class="invite-via-email">
      <span class='invite-email-icon'><%=  fa_icon("google 2x")%> </span>
      <span class='invite-text'>Invite from Gmail</span>
      <span class='invite-form-google'>
        <%= button_to  '/authenticate', class: 'invite-google-contacts' do %>
          Invite Contacts from Gmail
          <%= image_tag "static/gmail-icon.png", class: 'gmail-icon' %>
        <% end %>
       <!--  <button href="/authenticate" class='invite-google-contacts'>Invite Contacts from Gmail
        </button> -->
      </span>
    </div>



  </div>
</div>
</body>

<% if @hash.size > 0 %>
<a href="#dialog" class="modalLink"></a>
    <div id="modal">
      <!-- First modal window -->
       <div id="dialog" class="google-clients">
        <div class="contents">
            <div class='close-icon'>
              <a href="#" class="close"><span><i class="fa fa-times"></i></span></a>
            </div>
            <h3>Invite friends and colleagues</h3>
            <!-- <hr class='line-verify-modal'> -->
            <p class='invite-modal-text'>Please select the individuals that you would like to invite to join DreamFunded. We will send them a personalized invitation on your behalf.</p>

            <div class="search">
              <input type="text" id="fiter-input" placeholder="Search" class='input-search'>
            </div>
            <ul class='instafilta-section imported-contacts'>
            <% @hash.each do |key, value| %>
              <div class="contact-item">
                <li class='imported-name'> <input type="checkbox" name="email" value=<%=value%> checked><%= key %></li>
                <li class='imported-email'><%= value %></li>
                <hr>
              </div>
            <% end %>
            </ul>
            <center class='invite-buttons'>
              <a href="#" class="close-button">Cancel</a>
              <a href="#" class="invite-google-button">Send Invitations</a>
            </center>
        </div>
     </div>
    </div>
<% end %>
<script>
  $(document).ready(function(){
      var activeWindow;
          var id = '#dialog'
          console.log(id);
          activeWindow = $('.google-clients' + id)
              .css('opacity', '0') // set to an initial 0 opacity
              .css('top', '50%') // position vertically at 50%
              .css('left', '44%') // position horizontally at 50%
              .fadeTo(500, 1); // fade to an opacity of 1 (100%) over 500 milliseconds

          $('#modal')
              .append('<div id="blind" />') // create a <div> with an id of 'blind'
              .find('#blind') // select the div we've just created
              .css('opacity', '0') // set the initial opacity to 0
              .fadeTo(500, 0.5) // fade in to an opacity of 0.8 (80%) over 500 milliseconds
              .click(function(e){
                  closeModal(); // close modal if someone clicks anywhere on the blind (outside of the window)
              });

      $('a.close-button').click(function(e){
              e.preventDefault();
              closeModal();
      });
      $('a.close').click(function(e){
              e.preventDefault();
              closeModal();
      });
      function closeModal() {
          activeWindow.fadeOut(250, function(){ $(this).css('top', '-1000px').css('left', '-1000px'); });
          $('#blind').fadeOut(250,    function(){ $(this).remove(); });
      }
  });

  $('#fiter-input').instaFilta({
    targets: '.contact-item'
  });
</script>

