
  <div class="main comment">
    <div class="headline">
      <span class="name">
        <a><%= comment.user.comments_name%></a>
      </span>

      <span class="created_at">
        <%= comment.created_at.strftime("%b-%e-%Y") %>
      </span>
    </div>

    <%= link_to "Reply", new_comment_path(:parent_id => comment)%>
    <div class="comment_content">
      <p><%= comment.content%></p>
    </div>
  <% if user_session != nil && user_session.authority == authority[:Admin] %>
    <%= button_to "X", {action: 'remove_comment',controller: 'comments', id: comment.id} , data: { confirm: 'Are you sure?' }, class:'remove-button'%>
  <% end %>
  </div>

