<% title "DreamFunded | Invest or Sell Pre-IPO Shares" %>
<div class= "wrapper">

  <div class= "header"><h1 class= "centered">Silicon Valley's Private Tech Stock Market</h1></div>

  <div class= "wrap">

  <% if @companies != nil %>
    <div class= "companies-container">
      <% @companies.each do |company| %>
        <% if company.display != 0 %>
          <div class= "company-container">
            <% if user_session != nil && user_session.authority == authority[:Admin] %>
              <%= button_to "X", {action: 'remove_company', id: company.id} , data: { confirm: 'Are you sure?' }, class:'remove-button'%>
              <span class='company-position'><%= company.position%></span>
            <% end %>
            <div class= "company-image"><div class= "image-wrap">
              <%= link_to image_tag( company.image.url, :class => "image"), {:action => 'new', controller: 'bids', :id => company.id} %>
            </div></div>
            <div class= "company-description">
              <div class="meter orange">
                <% @progress = 100 * (company.invested_amount.to_f / company.goal_amount) %>
                <% @progress = 0 if company.get_status == 'Coming Soon' %>

                <% if @progress == 0 %>
                  <span class= "front" style= "width: 0px"></span>
                <% elsif @progress > 100 %>
                  <span style= 'width: 100%'></span>
                <% else %>
                    <span style= 'width: <%= @progress %>%'></span>
                <% end %>
              </div>
              <br>
              <div class= "left-column">
                <div>
                  <p class= "twenty no-margin center"> <%= company.get_status %> <span class= "darkblue twenty"><br> Status </span> </p>
                </div>
                <br>
                <hr>
                <div>
                  <p class= "twenty no-margin center"><%= ("$"+ number_with_delimiter(company.invested_amount, :delimiter => ',')) if company.status == 2%><br><span class= "darkblue twenty">Invested </span> </p>
                </div>
              </div>
              <div class= "right-column">
                <div>
                  <p class= "twenty no-margin center"><%= company.days_left if company.status == 2 %><br><span class= "darkblue twenty">Days Left</span></p>
                </div>
                <br>
                <hr>
                <div>
                  <p class= "twenty no-margin center"><%= ("%.2f" % @progress  + "%")if company.status == 2 %><br><span class= "darkblue twenty">Funded<span></p>
                </div>
              </div>
            </div>
              <div class= "button-wrap"><%= button_to "Learn More",{:action => 'new',controller: 'bids',  :id => company.id }, {:class => 'company-button twenty'} %>
              </div>
          </div>

        <% elsif user_session.authority == authority[:Admin] %>
          <div class= "company-container gray">
            <% if user_session.authority == authority[:Admin] %>
              <%= button_to "&#10004;".html_safe, {action: 'approve_company', id: company.id} , {:class => 'approve-button'} %>
            <% end %>

            <% if user_session != nil && user_session.authority == authority[:Admin] %>
              <%= button_to "X", {action: 'remove_company', id: company.id} , {:class => 'remove-button'} %>
            <% end %>

            <div class= "company-image"><div class= "image-wrap">
              <%= link_to image_tag("companies/#{company.image_file_name}", :class => "image-gray"), {:action => 'new', controller: 'bids', :id => company.id} %>
            </div></div>
            <div class= "company-description">
              <div class="meter orange">
                <% @progress = 100 * (company.invested_amount.to_f / company.goal_amount) %>
                <% if @progress == 0 %>
                  <span class= "front" style= "width: 5px"></span>
                <% else %>
                    <span style= 'width: <%= @progress %>%'></span>
                <% end %>
              </div>
              <br>
              <div class= "left-column">
                <div>
                  <p class= "twenty no-margin center"> <%= company.get_status %> <span class= "darkblue twenty"><br> Status </span> </p>
                </div>
                <br>
                <hr>
                <div>
                  <p class= "twenty no-margin center">$<%= number_with_delimiter(company.invested_amount, :delimiter => ',') %><br><span class= "darkblue twenty">Invested </span> </p>
                </div>
              </div>
              <div class= "right-column">
                <div>
                  <p class= "twenty no-margin center"><%= company.days_left%><br><span class= "darkblue twenty">Days Left</span></p>
                </div>
                <br>
                <hr>
                <div>
                  <p class= "twenty no-margin center"><%= "%.2f" % @progress %>%<br><span class= "darkblue twenty"><%= company.get_status%><span></p>
                </div>
              </div>
            </div>

            <div class= "button-wrap"><%= button_to "Learn More", {:action => 'new',controller: 'bids',  :id => company.id }, {:class => 'company-button twenty'} %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
  </div>
</div>
<style>
.foot-text.darkblue{
  display: none;
}
</style>
