<html>
	<head>
		<% title "DreamFunded | #{@company.name}" %>
	</head>

	<body>
		<div class= "word-content"><div class="text-content stretch">
			<div class= "topbar">

				<%= link_to "↩  Back", :back,  {:class => 'darkblue hide-on-mobile'} %>
				<% if user_session != nil && user_session.authority == authority[:Admin] %>
					<%= link_to 'Edit', {:controller => 'companies', :action => 'edit_profile', :id => @id }, {:class => 'left'} %>
				<% end %>
				<% if user_session == @company.user %>
				<%= link_to 'Edit My Campaign', {:controller => 'campaigns', :action => 'edit_campaign', :id => @company.campaign.id}, {:class => 'right'} %>
				<% end %>
			</div>
			<div class= "company-title indent">
				<span class= "darkblue small-margin">
					<span> <%= @company.name %> </span><br>
				</span>
					<span class= "darkblue twenty indent"><%= @company.campaign.tagline %> </span>
			</div>
			<div class= "stats-container">
				<div class= "profile-image-wrap"> <%=  image_tag( @company.image.url, :class => "stats-image") %></div>
				<div class= "numbers"><div class= "numbers-content">
					<div class="meter orange">
						<% @progress = ((@company.invested.to_f / @company.goal_amount.to_f).to_f) *100 %>
						<% if @progress == 0 %>
							<span class= "front" style="width: 5px"></span>
						<% elsif @progress > 100 %>
							<span style= 'width: 100%'></span>
						<% else %>
					 		<span style='width: <%= @progress %>%'></span>
					 	<% end %>
					</div><br>
					<div class= 'statistics'>
							<div>
								<p class= "twenty no-margin center"><span class= "darkblue twenty">Status: </span> <%= @company.get_status %><br><br></p>
							</div>
					<% if @company.status == 2 %>
							<div>
								<p class= "twenty no-margin center"><span class= "darkblue twenty">Invested: </span><%= number_to_currency @company.invested, precision: 0 %><br><br> </p>
							</div>
							<div>
								<p class= "twenty no-margin center"><span class= "darkblue twenty">Goal Amount: </span> <%= number_to_currency @company.goal_amount, precision: 0 %><br><br></p>
							</div>

						<div>
							<p class= "twenty no-margin center"><span class= "darkblue twenty">Days Left: </span><%= @company.left_days %><br><br></p>
						</div>

							<div>
								<p class= "twenty no-margin center"><span class= "darkblue twenty">Funded: </span><%= "%.1f" % @progress %>%<br><br></p>
							</div>

							<div>
								<p class= "twenty no-margin center"><span class= "darkblue twenty">Number of Employees: </span><%= @company.campaign.employees_numer %><br><br></p>
							</div>

							<div>
								<p class= "twenty no-margin center"><span class= "darkblue twenty">Category: </span><%= @company.campaign.category %><br><br></p>
							</div>

							<div>
								<span class= "darkblue twenty">Documents: </span>
								<% @company.documents.each do |doc|%>
									<p class= "no-margin"><%= image_tag "static/pdf_icon.png" %> <%= link_to doc.file_file_name, doc.file.url, target: "_blank", class: 'document-url' %></p>
								<% end %>
							</div>

					<% end %>
					</div>

				</div></div>
				<% if @company.status == 2 && @company.display != 0 %>
					<%= link_to "Invest in #{@company.name}", "/personal_info/#{@company.name}", :class => "company-button profile-button mail-to-button", target: "_blank" %>
				<% elsif @company.status == 1 %>
					<%= mail_to "manny@dreamfunded.com", "Join The Waitlist", subject: "I want to invest in #{@company.name}", :class => "company-button profile-button mail-to-button" %>

				<% else %>
					<%= button_to "Invest in #{@company.name}", nil, :class => "company-button profile-button", :disabled => true %>
				<% end %>
			</div>

			<div class= "description-container">
				<div class= "video-box">
					<% if @company.video_link.empty? %>
						<%= image_tag( @company.image.url, class: 'image-max-width')%>
					<% else %>
						<iframe  class='youtube-video' src= <%= @company.video_link %> frameborder="0" allowfullscreen ></iframe>
					<% end %>
				</div>

				<a  class='tab-name about_tab active-tab darkblue twentyf'>Company</a>
				<a  class='tab-name  darkblue twentyf' id='team_tab'>Team</a>
				<a  class='tab-name  darkblue twentyf' id='finances_tab'>Finances & Risks</a>

				<div class='about_tab_content tab-content'>
					<h2 class= "darkblue category-name indent">Highlight</h2>
					<hr>
					<p class= "fifteen"><%= nl2br(h(@company.description)).html_safe %></p>
					<br>
					<h2 class= "darkblue category-name indent">Why <%= @company.name %></h2>
					<hr>
					<p><%= nl2br(h(@company.campaign.elevator_pitch)).html_safe %></p>

					<br>
					<h2 class= "darkblue category-name indent">Our Mission</h2>
					<hr>
					<p><%= nl2br(h(@company.campaign.about_campaign)).html_safe %></p>
				</div>

				<div class='team_tab_content tab-content'>
					<% if @company.status == 2 || @company.status == 1 %>
							<% if @members != nil && !@members.empty? %>
								<br>

									<div class= "team-band">
										<% @members.each do |member| %>
											<div class= "team-box">
												<% if user_session != nil && user_session.authority == authority[:Admin] %>
													<%= button_to "X", { action: 'remove_founder', id: member.id} , {:class => 'remove-button'} %>
												<% end %>
												<%= image_tag( member.image.url, :class => "image team-pic") %>
												<h2 class= "twenty no-margin"><%= member.name %>, <%= member.position %></h2>
												<br>
												<p class= "fifteen no-margin"><%= nl2br(h(member.content)).html_safe %></p>
											</div>
										<% end %>
									</div>
							<% end %>
						<% end %>
				</div>

				<div class='finance_tab_content tab-content'>
					<h2 class= "darkblue category-name indent">Offering Terms</h2>
					<hr>
					<p class= "fifteen"><%= nl2br(h(@financial_details.offering_terms)).html_safe %></p>

					<h2 class= "darkblue category-name indent">Financial Risks</h2>
					<hr>
					<p class= "fifteen"><%= nl2br(h(@financial_details.fin_risks)).html_safe %></p>
					<hr>
					<h2 class= "darkblue category-name indent">Income</h2>
					<div>
						<span>Total Income: </span>
						<%= number_to_currency @financial_details.totat_income, precision: 0 %>
					</div>

					<div>
						<span>Total Taxable: </span>
						<%= number_to_currency @financial_details.total_taxable_income, precision: 0 %>
					</div>

					<div>
						<span>Total Taxes Paid: </span>
						<%= number_to_currency @financial_details.total_taxes_paid, precision: 0 %>
					</div>
					<hr>
					<div>
						<div class='fin_info_col1'>
							<span></span><br>
							<span>Total Assets</span><br>
							<span>Cash & Cash Equivalents</span><br>
							<span>Accounts Receivable</span><br>

							<span>Short-term Debt</span><br>
							<span> Long-term Debt</span><br>
							<span> Revenues / Sales</span><br>

							<span> Costs of Goods Sold</span><br>
							<span> Taxes Paid </span><br>
							<span> Net Income </span><br>

						</div>

						<div class='fin_info_col2'>
							<span>Most recent fiscal year-end:</span><br>
							<span><%= number_to_currency @financial_details.total_assets_this_year, precision: 0 %></span><br>
							<span><%= number_to_currency @financial_details.cash_this_year, precision: 0 %></span><br>
							<span><%= number_to_currency @financial_details.acount_receivable_this_year, precision: 0 %></span><br>

							<span><%= number_to_currency @financial_details.short_term_debt_this_year, precision: 0 %></span><br>
							<span><%= number_to_currency @financial_details.long_term_debt_this_year, precision: 0 %></span><br>
							<span><%= number_to_currency @financial_details.sales_this_year, precision: 0 %></span><br>

							<span><%= number_to_currency @financial_details.costs_of_goods_this_year, precision: 0 %></span><br>
							<span><%= number_to_currency @financial_details.taxes_paid_this_year, precision: 0 %></span><br>
							<span><%= number_to_currency @financial_details.net_income_this_year, precision: 0 %></span><br>
						</div>

						<div class='fin_info_col3'>
							<span>Prior fiscal year-end:</span><br>
							<span><%= number_to_currency @financial_details.total_assets_last_year, precision: 0 %></span><br>
							<span><%= number_to_currency @financial_details.cash_last_year, precision: 0 %></span><br>
							<span><%= number_to_currency @financial_details.acount_receivable_last_year, precision: 0 %></span><br>

							<span><%= number_to_currency @financial_details.short_term_debt_last_year, precision: 0 %></span><br>
							<span><%= number_to_currency @financial_details.long_term_debt_last_year, precision: 0 %></span><br>
							<span><%= number_to_currency @financial_details.sales_last_year, precision: 0 %></span><br>

							<span><%= number_to_currency @financial_details.costs_of_goods_last_year, precision: 0 %></span><br>
							<span><%= number_to_currency @financial_details.taxes_paid_last_year, precision: 0 %></span><br>
							<span><%= number_to_currency @financial_details.net_income_last_year, precision: 0 %></span><br>
						</div>

					</div>
					<hr>
					<h2 class= "darkblue category-name indent">Finances</h2>
					<% if @financial_details.balance_sheet_file_name %>
						<p class= "no-margin"><%= image_tag "static/pdf_icon.png" %> <%= link_to "Balance Sheet", @financial_details.balance_sheet.url, target: "_blank", class: 'document-url' %></p>
					<% end %>

					<% if @financial_details.income_statements_file_name %>
						<p class= "no-margin"><%= image_tag "static/pdf_icon.png" %> <%= link_to "Income Statements", @financial_details.income_statements.url, target: "_blank", class: 'document-url' %></p>
					<% end %>

					<% if @financial_details.statement_of_cash_flow_file_name %>
						<p class= "no-margin"><%= image_tag "static/pdf_icon.png" %> <%= link_to "Statement of Cash Flow", @financial_details.statement_of_cash_flow.url, target: "_blank", class: 'document-url' %></p>
					<% end %>

					<% if @financial_details.statement_changes_of_equity_file_name %>
						<p class= "no-margin"><%= image_tag "static/pdf_icon.png" %> <%= link_to "Statement of Changes in Equity For Past 2 Years", @financial_details.statement_changes_of_equity.url, target: "_blank", class: 'document-url' %></p>
					<% end %>

					<% if @financial_details.business_plan_file_name %>
						<p class= "no-margin"><%= image_tag "static/pdf_icon.png" %> <%= link_to "Anticipated Business Plan", @financial_details.business_plan.url, target: "_blank", class: 'document-url' %></p>
					<% end %>

					<% if @financial_details.party_transaction_file_name %>
						<p class= "no-margin"><%= image_tag "static/pdf_icon.png" %> <%= link_to "Any Related Party Transaction", @financial_details.party_transaction.url, target: "_blank", class: 'document-url' %></p>
					<% end %>

					<% if @financial_details.intended_use_of_proceeds_file_name %>
						<p class= "no-margin"><%= image_tag "static/pdf_icon.png" %> <%= link_to "Description of Intended Use of Proceeds", @financial_details.intended_use_of_proceeds.url, target: "_blank", class: 'document-url' %></p>
					<% end %>

					<% if @financial_details.capital_structure_file_name %>
						<p class= "no-margin"><%= image_tag "static/pdf_icon.png" %> <%= link_to "Ownership and Capital Structure", @financial_details.capital_structure.url, target: "_blank", class: 'document-url' %></p>
					<% end %>

					<% if @financial_details.material_terms_file_name %>
						<p class= "no-margin"><%= image_tag "static/pdf_icon.png" %> <%= link_to "Material Terms of Any Indebtedness", @financial_details.material_terms.url, target: "_blank", class: 'document-url' %></p>
					<% end %>

					<% if @financial_details.directors_background_file_name %>
						<p class= "no-margin"><%= image_tag "static/pdf_icon.png" %> <%= link_to "Background of Directors and Officers", @financial_details.directors_background.url, target: "_blank", class: 'document-url' %></p>
					<% end %>

					<% if @financial_details.accountant_review_file_name %>
						<p class= "no-margin"><%= image_tag "static/pdf_icon.png" %> <%= link_to "Independent Accountant's Review", @financial_details.accountant_review.url, target: "_blank", class: 'document-url' %></p>
					<% end %>

					<% if @financial_details.financial_conditions_file_name %>
						<p class= "no-margin"><%= image_tag "static/pdf_icon.png" %> <%= link_to "Financial Condition", @financial_details.financial_conditions.url, target: "_blank", class: 'document-url' %></p>
					<% end %>
				</div>

			</div>
			<div class='comments'>
				<%= nested_messages(@comments.arrange(:order => :created_at))%>
			</div>
			<br>

	  <% if user_session %>

			<div class="comment">
			  <div class="headline">
			    <span class="name">
			      <span class='comment_as'>New comment as</span>
			      <a><%= user_session.comments_name%></a>
			    </span>
			  </div>
			  <div class="comment_content">
					<%= form_for Comment.new, remote: true  do |f|%>
						 <%= f.hidden_field "user_id", value: user_session.id %>
						 <%= f.hidden_field "company_id", value: @company.id %>
						 <%= f.hidden_field :parent_id %>
						<div>
							<%= f.text_area :content, rows: 8, class: 'comment_extarea' %>
						</div>
						<%= f.submit "Post Comment", class: 'comment_submit_button' %>
					<% end %>
			  </div>
		<%else%>
			  <p>First <%= link_to "sign in", "/users/new" %> to post a comment.</p>
			</div>

		<%end%>

		</div></div>


		<style>
		.foot-text.darkblue{
		 	display: none;
		}
		</style>
	</body>

</html>

<script>
	$(document).ready(function() {
		$('#team_tab').click(function(e){
  		$('.tab-content').hide();
  		$('.team_tab_content').show();
  		$(".tab-name").removeClass('active-tab');
  		$("#team_tab").addClass('active-tab');
		});
		$('.about_tab').click(function(e){
  		$('.tab-content').hide();
  		$('.about_tab_content').show();
  		$(".tab-name").removeClass('active-tab');
  		$('.about_tab').addClass('active-tab');
		});
		$('#finances_tab').click(function(e){
  		$('.tab-content').hide();
  		$('.finance_tab_content').show();
  		$(".tab-name").removeClass('active-tab');
  		$('#finances_tab').addClass('active-tab');
		});
	})
	$('#slider1').change(function(){
	  value = $(this).val();
	  $("#bid_number_of_shares").val(value);

	  price = $('#bid_bid_amount').val() * $(this).val();
	  $("#transaction-price").html( price )
	});

	$("#bid_number_of_shares").on('input', function() {
    value = $(this).val();
    $('#slider1').val(value);
	});

	$("#bid_bid_amount").on('input', function() {
	    value = $(this).val();
	    $('#slider2').val(value);
	});

	$('#slider2').change(function(){
	  value = $(this).val();
	  $("#bid_bid_amount").val(value);
	  price = $('#bid_bid_amount').val() * $("#bid_number_of_shares").val();

	  $("#transaction-price").html( price )
	});

  $(".reply_comment_button").click(function(e){
  		e.preventDefault()
	    $(this).parent().parent().parent().next().show();
  })



</script>
