<html>

	<head>
		<title>DreamFunded | Edit </title>
	</head>

	<body>
		<div class= "word-content"><div class="text-content stretch">
			<%= form_for (@company) do |f| %>
				<% if @company.errors.any? %>
					<h2><%= pluralize(@user.errors.count, "error") %> prohibited this company from being saved: </h2>

					<ul>
						<% @company.errors.full_messages.each do |message| %>
							<li><%= message %></li>
						<% end %>
					</ul>
				<% end %>

			<div class= "topbar">
				<a href= "/companies" class= "darkblue">&#8617; Back</a>
			</div>
			<div class= "company-title indent">
				<h2 class= "darkblue small-margin">
					<%= f.text_field :name, :class => 'input-box half' %>
					<%= f.text_field :website_link, :class => 'input-box half scoot-left' %>
				</h2>
			</div>
			<div class= "stats-container">
				<div class= "profile-image-wrap"> <%= link_to image_tag(@company.image.url, :class => "stats-image"), @company.website_link %></div>
				<div class='center'><span class= "darkblue twenty">Change Image: </span><%= f.file_field "image" %></br></br></div>
				<div class='center'><span class= "darkblue twenty"><%= link_to "Upload Docs", new_document_path(:company_id => @company.id) %> </span></br></br></div>

				<div class='center'>
					<span class= "darkblue twenty">Documents: </span>
					<% @company.documents.each do |doc|%>
						<p class= "no-margin"><%= image_tag "static/pdf_icon.png" %> <%= link_to doc.file_file_name, doc.file.url, target: "_blank", class: 'document-url' %><br><%= link_to 'Destroy', doc, method: :delete, data: { confirm: 'Are you sure?' } %></p>
					<% end %>
				</div><br>

				<div class= "numbers"><div class= "numbers-content">
					<div class="meter orange">
						<% @progress = ((@company.invested_amount.to_f / @company.goal_amount.to_f).to_f) *100 %>
						<% if @progress == 0 %>
							<span class= "front" style="width: 5px"></span>
						<% else %>
					 		<span style='width: <%= @progress %>%'></span>
					 	<% end %>
					</div><br>
					<div class= 'statistics'>
						<div class= "">
							<div>
								<p class= "twenty no-margin center"><span class= "darkblue twenty">Status: </span> </p>
								<%= f.select( :status, [["Active", 2],["Funded", 3],["Coming Soon", 1] ])  %>
							</div>
							<div>
								<p class= "twenty no-margin center"><span class= "darkblue twenty">Hidden: </span> </p>
								<%= f.select( :hidden, [["Yes", true],["No", false] ])  %>
							</div>

							<div>
								<p class= "twenty no-margin center"><%= f.number_field :invested_amount, :class => 'input-box no-margin center' %><br><span class= "darkblue twenty">Invested </span> </p>
							</div>
							<div>
								<p class= "twenty no-margin center"><%= f.number_field :suggested_target_price, :class => 'input-box no-margin center' %><br><span class= "darkblue twenty">Target Share Price: </span> </p>
							</div>
							<div>
								<p class= "twenty no-margin center"><%= f.number_field :goal_amount, :class => 'input-box no-margin center' %><br><span class= "darkblue twenty">Goal Amount </span> </p>
							</div>
						</div>
						<div>
							<p class= "twenty no-margin center"><%= f.number_field :days_left, :class => 'input-box no-margin center' %><br><span class= "darkblue twenty">Days Left</span></p>
						</div>
						<div>
							<p class= "twenty no-margin center"><%= f.number_field :position, :class => 'input-box no-margin center' %><br><span class= "darkblue twenty">Position</span></p>
						</div>
						<div>
							<p class= "twenty no-margin center"><%= f.text_field :video_link, :class => 'input-box no-margin center' %><br><span class= "darkblue twenty">Video Link</span></p>
						</div>

						<div>
							<p class= "twenty no-margin center"><%= f.text_field :docusign_url, :class => 'input-box no-margin center' %><br><span class= "darkblue twenty">DocuSign Link</span></p>
						</div>

							<div>
								<p class= "twenty no-margin center"><%= "%.1f" % @progress %>%<br><span class= "darkblue twenty">Funded<span></p>
							</div>
					</div>

				</div></div>

				<div class= "fake-button"> Invest </div>
			</div>

			<div class= "description-container">
				<div class= "video-box">
					<%# if @company.video_link != "" %>
						<!-- <iframe width="650" height="450" src= <%#= @company.video_link %> frameborder="0" allowfullscreen class= "indent"></iframe> -->
					<%# else %>
						<%= image_tag(@company.image.url, class: "max-width-image")%>
					<%# end %>
				</div>
				<br><br><br><br>
				<h2 class= "darkblue twentyf indent">Highlight</h2>
					<hr>
					<p class= "fifteen"><%= f.text_area :description, rows: 10, :class => 'twenty input-box no-margin ' %></p>

				<% if @members != nil && !@members.empty? %>
					<br>
					<h2 class= "darkblue twentyf indent">Team</h2>
						<hr>
						<div class= "team-band">
							<% @members.each do |member| %>
								<div class= "team-box">
									<% if user_session != nil && user_session.authority == authority[:Admin] %>
										<%= button_to "X", { action: 'remove_founder', id: member.id} , {:class => 'remove-button'} %>
									<% end %>
									<%= image_tag("companies/#{member.image_address}", :class => "image team-pic") %>
									<h2 class= "twenty no-margin"><%= member.name %></h2>
									<br>
									<p class= "fifteen no-margin"><%= nl2br(h(member.content)).html_safe %></p>
								</div>
							<% end %>
						</div>
				<% end %>

				<% if @section != nil %>
					<% if @section.overview && @section.overview != "" %>
						<br>
						<h2 class= "darkblue twentyf indent">Overview</h2>
						<hr>
						<p><%= nl2br(h(@section.overview)).html_safe %></p>
					<% end %>

					<% if @section.target_market && @section.target_market != "" %>
						<h2 class= "darkblue twentyf indent">Target Market</h2>
						<hr>
						<p><%= nl2br(h(@section.target_market)).html_safe %></p>
					<% end %>

					<% if @section.current_investor_details && @section.current_investor_details != "" %>
						<h2 class= "darkblue twentyf indent">Current Investor Details</h2>
						<hr>
						<p><%= nl2br(h(@section.current_investor_details)).html_safe %></p>
					<% end %>

					<% if @section.detailed_metrics && @section.detailed_metrics != "" %>
						<h2 class= "darkblue twentyf indent">Detailed Metrics</h2>
						<hr>
						<p><%= nl2br(h(@section.detailed_metrics)).html_safe %></p>
					<% end %>

					<% if @section.customer_testimonials && @section.customer_testimonials != "" %>
						<h2 class= "darkblue twentyf indent">Customer Testimonials</h2>
						<hr>
						<p><%= nl2br(h(@section.customer_testimonials)).html_safe %></p>
					<% end %>

					<% if @section.competitive_landscape && @section.competitive_landscape != "" %>
						<h2 class= "darkblue twentyf indent">Competitive Landscape</h2>
						<hr>
						<p><%= nl2br(h(@section.competitive_landscape)).html_safe %></p>
					<% end %>

					<% if @section.planned_use_of_funds && @section.planned_use_of_funds != "" %>
						<h2 class= "darkblue twentyf indent">Planned Use of Funds</h2>
						<hr>
						<p><%= nl2br(h(@section.planned_use_of_funds)).html_safe %></p>
					<% end %>

					<% if @section.pitch_deck && @section.pitch_deck != nil %>
						<h2 class= "darkblue twentyf indent">Pitch Deck</h2>
						<hr>
						<p><%= nl2br(h(@section.pitch_deck)).html_safe %></p>
					<% end %>
				<% end %>
			</div>
			<div class = "notice centered">
              <%= flash[:problem_update] if flash[:problem_update] %>
              <%= @error_update %>
           </div>
           <%= f.submit "Update", :class => 'invest-button' %>
		<% end %>
		</div></div>
	</body>

</html>
