<% title "DreamFunded " %>
<div class= "wrapper properties">

	<div class= "header"><h1 class= "centered">Investment Opportunities</h1></div>

	<section class='properties-wrapper'>
		<% @companies.each do |company| %>

			<div class='property-box'>

				<%= link_to company do %>
				<%= image_tag( company.cover.url, :class => "property-image") %>
				<div class='logo-image-wrapper'>
					<span class="helper"></span>
					<%= image_tag( company.image.url, :class => "property-logo-image") %>
				</div>


				<article>
					<div class='company-campaign-name'><%= company.name %></div>
					<div class='company-tagline'>
						<span class='company-tagline-text'><%= company.campaign.tagline %></span>
					</div>

					<div class='property-detail'>
						<span class='propety-detail-left'>Category</span>
						<span class='property-detail-right'><%= company.campaign.category %></span>
					</div>

					<section class='campaigb-basic-numbers'>
						<div class='company-details-small-box'>
							<div class='companies-box-name'>Target</div>
							<div class='companies-box-value'><%= number_to_currency company.goal_amount, precision: 0 %></div>
						</div>
						<div class='company-details-small-box'>
							<div class='companies-box-name'>Raised</div>
							<div class='companies-box-value'><%= number_to_currency company.invested, precision: 0 %></div>
						</div>
						<div class='company-details-small-box'>
							<div class='companies-box-name'>Days Left</div>
							<div class='companies-box-value'>Coming Soon</div>
						</div>
					</section>


				</article>
				<% end %>
				<%= link_to "Learn More", company, class:'invest-link' %>
			</div>
		<% end %>
	</section>
</div>

