<html>
<head>
	<%= stylesheet_link_tag		"companies", media: 'all' %>
	<title>DreamFunded | Invest</title>
</head>

</body><div class= "wrapper">

	<div class= "header"><h1 class= "centered"> Invest on Selected Startups </h1></div>

	<div class= "wrap">

	<% if @companies != nil %> 
		<div class= "companies-container">
			<% @companies.each do |company| %>
				<div class= "company-container">
					<div class= "company-image"><div class= "image-wrap">
						<%= image_tag "#{company.image_file_name}", :class => "image" %>
					</div></div>
					<div class= "company-description">
						<div class= "text"><p> <%= company.description %> </p></div>
						<div class= "button-wrap"><button class= "company-button" id = <%="#{company.name}_invest" %>> Invest in <%= company.name %> </button></div>
					</div>
				</div>
			<% end %>
		</div>
	<% end %>
	</div>
</div>
</body>

</html>