<html>

	<head>
		<title>DreamFunded | Add A Team</title>
	</head>

	<body>
		<div class= "wrapper">
			<div class="header-container shadow">
				<div class= "header centered"><h1>Add Your Team Member</h1></div>
			</div>

			<div class= "box team-wrapper">
				<h2 class= "centered"> Add Team Member Information </h2>
				<div class= "register-content">

					<%= form_for @founder, :url => url_for(:controller => 'companies_controller', :action => 'add_team_member'), multipart: true do |f|%>
						<div class= "member-section">
							<h4>Team Member:</h4>
								<%= f.select(:company_id, options_from_collection_for_select(@companies, "id", "name")) %>
								<%= f.text_field(:name, :placeholder => "Name", :class => "input-box") %>
								<%= f.text_field(:position, :placeholder => "Position", :class => "input-box") %>
								<label for = "file1">Upload Team Member Photo: </label> <%= f.file_field "image" %><br>
								<div class= "description-wrap">
									<%= f.text_area(:content, :placeholder => "Team Member Biography", :class => "description-box") %>
								</div>
						</div>

						<div class = "notice centered">
			              <%= flash[:notice] if flash[:notice] %>
			              <%= @error_message2 %>
			           	</div>

						<div class= "centered">
							<%= f.submit("Submit", :id => "submit-button") %>
						</div>
					<% end %>
				</div>
			</div>

		</div>
	</body>

</html>
