
<html>
<head>
		<title>DreamFunded | Company Registration</title>
</head>

<body><div class= "wrapper">
	<div class= "box register-wrap">
		<h2 class= "centered"> Create Your Company's Profile </h2>

		<div class= "register-content">
			<%= form_for @company, multipart: true do |f| %>
				<%= f.hidden_field :user_id, value: current_user.id %>
				<%= f.text_field(:name, :placeholder => "Name of Your Company", :class => "input-box") %><br>
				<%= f.number_field(:invested_amount, :placeholder => "Amount Currently Invested", :class => "input-box half") %>
				<div class= "filler"></div>
				<%= f.number_field(:goal_amount, :placeholder => "Target Investment Amount", :min => 0, :step => 1000, :class => "input-box half scoot-left") %><br>
				<%= f.number_field(:days_left, :placeholder => "Days Left", :class => "input-box") %><br>
				<%#= f.text_field(:CEO, :placeholder => "Name of your CEO", :class => "input-box") %><br>

				<%#= f.text_field(:CEO_number, :placeholder => "Phone Number of your CEO", :class => "input-box") %><br>

				<%= f.text_field(:website_link, :placeholder => "Company Website URL", :class => "input-box") %><br>
				<%= f.text_field(:video_link, :placeholder => "Company Video Link", :class => "input-box") %><br>

				<label for = "status">Status:</label>

					<%= f.select(:status, [["Coming Soon", "1"],["Active", "2"],["Funded", "3"]], :selected => '2') %>

				<br><br>

				<label for = "file">Upload Company Logo: </label> <%= f.file_field "image" %><br>
				<div class= "description-wrap">
					<%= f.text_area(:description, :placeholder => "Company Description and Details", :class => "description-box") %>
				</div>

				<div class = "notice centered">
					<%= flash[:message] if flash[:message] %>
				</div>

				<div class= "centered">
					<%= submit_tag("Submit for Approval", :id => "submit-button") %>
				</div>
			<% end %>
		</div>
	</div>
</div>
</body>
</html>
