
<html>
<head>
		<title>DreamFunded | Company Registration</title>
</head>

<body><div class= "wrapper">
	<div class= "box register-wrap">
		<h2 class= "centered"> Create Your Company's Profile </h2>

		<%= form_tag '/companies/create', multipart: true do %>

			<%= text_field_tag(:name, nil, :placeholder => "Name of Your Company", :class => "input-box") %><br>

			<label for = "file">Upload Company Image: </label> <%= file_field_tag "file" %><br>

			<div class= "description-wrap">
				<%= text_area(:description, nil, :placeholder => "Company Description and Details", :class => "description-box") %>
			</div>

			<div class = "notice centered">
				<%= flash[:file_uploaded] if flash[:file_uploaded] %>
			</div>
			
			<div class= "centered">
				<%= submit_tag("Register", :id => "submit-button") %>
			</div>
		<% end %>
	</div>
</div>
</body>
</html>
