  <h2>Hello,</h2>

  <p><%= @name %>  has just contacted you from the Contact Us page</p>
  <p><%= @name %>'s email: <%= @email%> </p>
  <p><%= @name %>'s phone: <%= @phone%> </p>


  <p><%= @message%></p>
