<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>


  <h1>Give me Funds</h1>
<p> Company Name:  <%= @company.first %> </p>
<p> Last Name:  <%= @last_name %>   </p>
<p> First Name:  <%= @first_name %>   </p>
<p> Email:  <%= @email %>   </p>
<p> Country:  <%= @country %>   </p>
<p> Phone:  <%= @phone %>   </p>
<p> Address:  <%= @address %>   </p>
<p> Website:  <%= @website %>   </p>
<p> City:  <%= @city %>   </p>
<p>  State: <%= @state %>   </p>
<p> Zipcode:  <%= @zipcode %>   </p>
<p> Timeframe:  <%= @timeframe %>   </p>
<p> Created::  <%= @month_created %>,:  <%= @year_created %>   </p>
<p> Number of Employees:  <%= @number_employees %>   </p>
<p> Two Line Company Summary:  <%= @two_line_summary %>   </p>
<p> Summarize Your Business:  <%= @business_summary %>   </p>
<p>  Size Your Potential Market of Customers: <%= @market_of_customers %>   </p>
<p>  What is the Customer Problem Your Product is Solving: <%= @customer_problem %>   </p>
<p>  List Your Specific Current or Potential Customers: <%= @current_customers %>   </p>
<p>  What is Your Solution: <%= @solution %>   </p>
<p>  Describe Your Go-To-Market and Sales Strategy: <%= @market_strategy %>   </p>
<p> What is Your Business Model:  <%= @business_modal %>   </p>
<p>  List Your Competitors: <%= @competitors %>   </p>
<p>  Management Qualifications as Related to This Venture: <%= @qualifications %>   </p>
<p> Describe Your Competitive Advantage and Barriers to Entry:  <%= @barriers %>   </p>

<p>  Round name: <%= @round_name %>   </p>
<p>  Monthly Burn Rate: <%= @burn_rate %>   </p>
<p>  Previous Capital: <%= @previous_capital %>   </p>
<p>  Current Revenue: <%= @current_revenue %>   </p>
<p>  Amount Seeking: <%= @amout_seeking %>   </p>
<p>  Estimated Valuation: <%= @esimated_valuation %>   </p>
<p>  Exit Strategy: <%= @exit_strategy %>   </p>

  </body>
</html>
