  <h2 style='font-family:Georgia,Palatino,serif;font-size:16px;margin-bottom:24px;padding:0px;line-height:22px;max-width:540px'>Hello!</h2>

  <p style='font-family:Georgia,Palatino,serif;font-size:16px;margin-bottom:24px;padding:0px;line-height:22px;max-width:540px'><b>New auction!</b> <br><br> Dreamfunded has just opened an auction for <%= @number_shares %> shares of <%= @company %>, click here to bid!<br><br> -Dreamfunded, Inc.</p>
<!--   <p style='font-family:Georgia,Palatino,serif;font-size:16px;margin-bottom:24px;padding:0px;line-height:22px;max-width:540px'><b>Company:</b> <%= @company%><br><b>Investment Amount:</b> <%= @investment_amount%><br><b>Share Price:</b> $<%= @shares_price%><br><b>Phone Number:</b> <%= @phone%><br><b>Email:</b> <%= @email%></p> -->
 
