<html>
<head>
  <% title "DreamFunded | Log In" %>
</head>

<body>
  <div class= "wrapper">
    <div class= "box signin-box centered">

    <div class="row">
      <div class="tab right-line darkblue active">
        <h2 class= "no-margin centered"><a href="/users/sign_in" id="login-form-link">Login</a></h2>
      </div>
      <div class="tab darkblue nodec">
        <h2 class= "no-margin centered"><a href="/users/sign_up" id="register-form-link">Sign Up</a></h2>
      </div>
    </div>

    <div class= "login-container">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.text_field(:email, :class =>" form-field", :placeholder => "Email") %>

        <%= f.password_field(:password, :class => " form-field", :placeholder => "Password") %>
        <br>
          <div class = "notice centered">
            <%= flash[:notice]  %>
            <%= flash[:alert] %>
          </div>
        <div class= "centered">
          <%= submit_tag("Login", :class => "login-button") %>

          <div class='social-media-line'>
            <span></span>
            <h4>OR</h4>
            <span></span>
          </div>

          <div class='social-login-ions'>
            <%= link_to '/auth/google_oauth2', class: 'google-link' do %>
              <span>Google</span>
            <%end%>
            <%= link_to '/auth/linkedin', class: 'linkedin-link' do %>
              <span>LinkedIn</span>
            <%end%>
            <%= link_to  '/auth/facebook', class: 'facebook-link'  do %>
              <span>Facebook</span>
            <%end%>
          </div>

        </div>
      <% end %>
    </div>

    <div class= "centered">
        <%= link_to " Forgot password?", new_user_password_path, :class => "signup black" %>
    </div>
  </div>
</div>
</body>
<script type="text/javascript">



</script>
</html>
