<% title "SSL Secured" %>
<div class= "wrapper">
	<div class="header-container shadow">
		<div class= "header centered"><h2 id='payment-title'>Please Complete Your Investment Below</h2></div>
	</div>

  <div class= " payment-box centered">
  	<%= form_tag( '/submit_payment', method: :post) do %>
  		<p class='payment-form'>Name<br>
  			<%= text_field_tag(:name, nil ) %>
  		</p>

  		<p class='payment-form'>Routing Number<br>
  		<%= text_field_tag(:routing, nil ) %>
  		</p>

  		<p class='payment-form'>Account Number<br>
  			<%= text_field_tag(:account, nil ) %>
  		</p>


  		<p class='payment-form'>Investment Amount<br>
  		<%= text_field_tag(:amount, nil 	) %>
  		</p>

  		<%= submit_tag "Invest", id: 'submit-button'%>
  	<% end %>
	<p>
		<b><%= flash[:message] %></b>
	</p>
	<!-- <form action="https://sandbox.usaepay.com/gate.php " method="POST">
	<input type="hidden" name="UMcommand " value="check:sale">
	<input type="hidden" name="UMkey" value="azIZnB64RLfnc7yFhWbidTGTgkdq5p36">
	<input type="hidden" name="UMredirApproved" value="http://dreamfunded.com/payment">
	<input type="hidden" name="UMinvoice" value="123456">
	Amount<input type="text" name="UMamount"><br>
	Full Name: <input type="text" name="UMname"><br>
	Account Number: <input type="text" name="UMaccount"><br>
	Routing Number: <input type="text" name="UMrouting"><br>


	<input type="submit" value="Place Order">
	</form> -->
	</div>

	</div>
</div>
