<html>
  <head>
    <% title "DreamFunded | Education " %>
  </head>

  <body>
    <div class= "wrapper">
      <!-- <div class="header">
        <h1 class="centered">Education Center</h1>
      </div> -->
      <div class="header education-center">
        <div class='education-title'><%=link_to "Education Center", education_path%></div>
        <%= link_to "All Education", education_path, class: 'education-links'%> <%= fa_icon "chevron-right"%> <a  class='education-links'><%= @post.title%></a>
      </div>
      <div class= "left-panel">
        <ul class='education-menu'>
            <a href='/education/basics'><li class='education-item'>The Basics</li></a>
            <a href='/education/investing-tips'><li class='education-item'>Investing Tips & Strategies</li></a>
            <!-- <a href='/education/rules-regulations'><li class='education-item'>Rules & Regulations</li></a> -->
            <a href='/education/important-terms'><li class='education-item'>Important Terms</li></a>
            <a href='/education/taxes-gains'><li class='education-item'>Taxes & Gains</li></a>
            <a href='/education/investor-qa'><li class='education-item'>Investor Q&A</li></a>
            <a href='/education/employee-qa'><li class='education-item'>Employee Q&A</li></a>
            <a href='/education/jobs_act'><li class='education-item '>JOBS ACT</li></a>
            <a href='/education/fund_raising_guide'><li class='education-item '>Fund Raising Guide</li></a>
            <!-- <a href='/education/market_trends'><li class='education-item'>Market Trends</li></a> -->
        </ul>
      </div>
      <div class= "right-panel ">
        <div class= "education-text-content text-content">

            <div class='education-center-list'>

              <h2 class= "darkblue centered"><%= @post.title%></h2>

              <div class='post_content'><%#= post.content%>
                <%= @post.content.html_safe %>
              </div>

            </div>

            <br><br><br>


        </div>
      </div>
    </div>
  </body>
</html>

