<div class="nested-fields">
  <div class="field">
    <%= f.text_field :name, class: 'form-field required-field', placeholder: "Full Name" %>
  </div>
  <br>

  <div class="field">
    <%= f.text_field :position, class: 'form-field required-field', placeholder: "Title" %>
  </div>
  <br>

  <label>Upload Team Member Photo: </label>
  <%= f.file_field :image%>
  <br>

  <div class="field">
    <%= f.text_area :content, class: 'form-field required-field', rows: 4, placeholder: 'Team Member Biography' %>
  </div>

  <br>
  <%= link_to_remove_association "Remove", f %><br/>
</div>

<br>
