<div class="nested-fields">
  <div class="field">
    <%= f.text_field :name, class: 'form-field', placeholder: "Full Name" %>
  </div>
  <br>

  <div class="field">
    <%= f.text_field :position, class: 'form-field', placeholder: "Title" %>
  </div>
  <br>

  <label>Upload Team Member Photo: </label>


  <% if f.object.image? %>
      <br>
      <%= image_tag( f.object.image.url, class: 'company-members')%>
      <br>
      Update Photo<%= f.file_field :image %>
  <% else %>
      <%= f.file_field :image, required: true %>
  <% end %>

  <br>

  <div class="field">
    <%= f.text_area :content, class: 'form-field', rows: 4, placeholder: 'Team Member Biography' %>
  </div>

  <br>
  <%= link_to_remove_association "Remove", f %><br/>
</div>

<br>
