<div class="nested-fields">
  <div class="field">
    <%= f.text_field :name, class: 'input-box', required: true, placeholder: "Full Name" %>
  </div>

  <div class="field">
    <%= f.text_field :position, class: 'input-box', required: true, placeholder: "Title" %>
  </div>

  <label>Upload Team Member Photo: </label>
  <%= f.file_field :image%>

  <div class="field">
    <%= f.text_area :content, class: 'userbox campaign_text_area_width', rows: 4, required: true, placeholder: 'Team Member Biography' %>
  </div>


  <%= link_to_remove_association "Remove", f %><br/>
</div>

