<% title "DreamFunded | Invest" %>
<div class= "wrapper">
  <div class="header education-center">
    <div class='education-title'>Edit My Campaign</div>
    <a href="/funding_campaing_goal/<%=@campaign_id%>" class='education-links '>Funding Goal</a> <%= fa_icon "chevron-right"%>
    <a href="#" class='education-links active-link'>Basics</a> <%= fa_icon "chevron-right"%>
    <a href="#" class='education-links disabled-link'>Description</a> <%= fa_icon "chevron-right"%>
    <a href="#" class='education-links disabled-link'> Legal Info </a> <%= fa_icon "chevron-right"%>
    <span href="#" class='education-links disabled-link'> Financial Info </span>
  </div>

  <div class= "campaign-box  get-funded ">

  <div class="row">
    <div class=" active">
      <h2 class= "darkblue no-margin centered"><a  id="login-form-link">Basic Company Information</a></h2>
      <br>
      <h3 class= "darkblue no-margin centered">This is the first step in creating your campaign.</h3>
    </div>
  </div>

  <div class= "login-container">
    <%= form_for @company, :url => {:action => "basics_submit"},method: "post" do |f| %>
      <%= hidden_field_tag :campaign_id, @campaign_id %>
      <%= f.hidden_field :user_id, value: current_user.id %>

      <div class='disclaimer-box'>
        <div class='disclaimer-container'>
          <i class="fa fa-times close-disclaimer" id='close-subcribtion' ></i>
          <span class='disclaimer-text'>ALL information in this step will be made publicly available</span>
        </div>
      </div>
      <br>
      <div class='disclaimer-box'>
        <div class='disclaimer-container'>
          <i class="fa fa-times close-disclaimer" id='close-subcribtion' ></i>
          <span class='disclaimer-text'>Use your campaign page to show investors what makes your company unique. Remember to be factual and balanced. Claims cannot be exaggerated or false. Your company must be a US company in order to raise capital under Title III - Regulation Crowdfunding. You may not be a fund.</span>
        </div>
      </div>
      <br>
      <%= f.text_field :name, placeholder: 'Company Name',:class => "input-box", required:true %>
      <br>
      <%= text_field_tag :tagline, @campaign.tagline ,placeholder: 'Describe your company in one sentence',:class => "input-box", required:true %>
      <br>
      <label>Category</label>
      <div class="styled-select select-100-width" >
        <%= select_tag(:category, options_for_select(company_categories), required:true ) %><br>
      </div>

      <%= f.text_area :description, placeholder: 'Short Description about your company', class: 'userbox campaign_text_area_width', rows: 6, required:true %>

      <%= f.text_field :website_link, placeholder: 'Website', :class => "input-box", required:true %><br>

      <label>Company Logo</label>
      <%= f.file_field :image, required:true %>

      <h3>Management Team</h3>
      <%= f.fields_for :founders do |founder| %>
        <%= render 'founder_fields', f: founder %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'Add', f, :founders %>
      </div>


      <div class = "notice centered">
        <%= flash[:errors] if flash[:errors] %>
      </div>

      <div class= "centered">
        <%= submit_tag("Continue", :id => "submit-button") %>
      </div>
    <% end %>
  </div>

</div>

<script type="text/javascript">
   $( "#funding_goal" ).keyup(function() {
       var value = addCommas( $( this ).val() );
       value = "$ " + value
       $( this ).val( value );
   });
   $('.close-disclaimer').click(function(){
    $(this).parent().hide()
   })
</script>
