<% title "DreamFunded | Invest" %>
<div class= "wrapper">

  <div class="header education-center">
    <div class='education-title'>Edit My Campaign</div>
    <a href="/funding_campaing_goal/<%=@campaign_id%>" class='education-links '>Funding Goal</a> <%= fa_icon "chevron-right"%>
    <a href="/campaign_basics/<%=@campaign_id%>" class='education-links '>Basics</a> <%= fa_icon "chevron-right"%>
    <a href="#" class='education-links active-link'>Description</a> <%= fa_icon "chevron-right"%>
    <a href="#" class='education-links disabled-link'> Legal Info </a> <%= fa_icon "chevron-right"%>
    <span href="#" class='education-links disabled-link'> Financial Info </span>
  </div>

  <div class= "campaign-box  get-funded ">

  <div class="row">
    <div class=" active">
      <h2 class= "darkblue no-margin centered"><a  id="login-form-link">Campaign Details</a></h2>
      <br>
      <h3 class= "darkblue no-margin centered">Share your story, build a community.</h3>
    </div>
  </div>

  <div class='disclaimer-box'>
    <div class='disclaimer-container'>
      <i class="fa fa-times close-disclaimer" id='close-subcribtion' ></i>
      <span class='disclaimer-text'>ALL information in this step will be made publicly available</span>
    </div>
  </div>

  <div class='disclaimer-box'>
    <div class='disclaimer-container'>
      <i class="fa fa-times close-disclaimer" id='close-subcribtion' ></i>
      <span class='disclaimer-text'>Use full Youtube URL</span><br>
      <%= image_tag("static/youtube_url.png")%>
    </div>
  </div>

  <div class= "login-container">
    <%= form_for @campaign, :url => {:action => "company_description_submit"} do |f| %>
      <%= hidden_field_tag :company_id, @company.id %>
      <%= hidden_field_tag :campaign_id, @campaign.id %>

      <%= text_field_tag :video_link,@company.video_link,  placeholder: 'Select Youtube Video',:class => "input-box" %>
      <br>

      <label>Elevator Pitch</label>
      <div class='disclaimer-box'>
        <div class='disclaimer-container'>
          <i class="fa fa-times close-disclaimer" id='close-subcribtion' ></i>
          <span class='disclaimer-text'>An elevator pitch can be said in 30 seconds What makes your company exceptional? Why should the crowd invest in your company? All information and claims presented must be accurate and backed by fact.</span>
        </div>
      </div>

      <%= f.text_area :elevator_pitch, placeholder: 'Write Elevator Pitch. What makes your company exceptional? Why should the crowd invest in your company?  ', class: 'ckeditor userbox campaign_text_area_width', rows: 6, required:true %>

      <br>
      <%= f.text_field :tags,  placeholder: 'Tags (optional)',:class => "input-box" %>
      <br>

      <label>About Your Campaign</label>
      <div class='disclaimer-box'>
        <div class='disclaimer-container'>
          <i class="fa fa-times close-disclaimer" id='close-subcribtion' ></i>
          <span class='disclaimer-text'>Be creative with this section. You have the ability to add videos and images to make your message stand out. A well designed description of your campaign will set you apart. Your presentation must be factual and accurate.</span>
        </div>
      </div>
      <%= f.text_area :about_campaign, placeholder: 'About Your Campaign', class: 'ckeditor userbox campaign_text_area_width', rows: 6, required:true %>
      <br>

      <%= f.text_field :employees_numer, placeholder: 'Number of Current Employees', :class => "input-box", required:true %>


      <div class = "notice centered">
        <%= flash[:errors] if flash[:errors] %>
      </div>

      <div class= "centered">
        <%= submit_tag("Continue", :id => "submit-button") %>
      </div>
    <% end %>
  </div>

</div>

<script type="text/javascript">
   $( "#funding_goal" ).keyup(function() {
       var value = addCommas( $( this ).val() );
       value = "$ " + value
       $( this ).val( value );
   });
</script>
