<% title "DreamFunded | Invest" %>
<div class= "wrapper">

  <div class="header education-center">
    <div class='education-title'>Edit My Campaign</div>
    <a href="/funding_goal" class='education-links '>Funding Goal</a> <%= fa_icon "chevron-right"%>
    <a href="#" class='education-links '>Basics</a> <%= fa_icon "chevron-right"%>
    <a href="#" class='education-links active-link'>Description</a> <%= fa_icon "chevron-right"%>
    <a href="#" class='education-links disabled-link'> Legal Info </a> <%= fa_icon "chevron-right"%>
    <span href="#" class='education-links disabled-link'> Financial Info </span>
  </div>

  <div class= "campaign-box  get-funded ">

  <div class="row">
    <div class=" active">
      <h2 class= "darkblue no-margin centered"><a  id="login-form-link">Campaign Details</a></h2>
      <br>
      <h3 class= "darkblue no-margin centered">Share your story, build a community.</h3>
    </div>
  </div>

  <div class= "login-container">
    <%= form_for @campaign, :url => {:action => "company_description_submit"} do |f| %>
      <%= hidden_field_tag :company_id, @company.id %>
      <%= hidden_field_tag :campaign_id, @campaign.id %>
      <%= text_field_tag :video_link,nil,  placeholder: 'Select Video',:class => "input-box" %>
      <br>

      <%= f.text_area :elevator_pitch, placeholder: 'Write Elevation Pitch. What makes your company exceptional? Why should the crowd invest in your company?  ', class: 'userbox campaign_text_area_width', rows: 6, required:true %>

      <%= f.text_field :tags,  placeholder: 'Tags (optional)',:class => "input-box", required:true %>
      <br>

      <%= f.text_area :about_campaign, placeholder: 'About Your Campaign', class: 'userbox campaign_text_area_width', rows: 6, required:true %>

      <%= f.text_field :employees_numer, placeholder: 'Number of Current Employees', :class => "input-box", required:true %>


      <div class = "notice centered">
        <%= flash[:errors] if flash[:errors] %>
      </div>

      <div class= "centered">
        <%= submit_tag("Continue", :id => "submit-button") %>
      </div>
    <% end %>
  </div>

</div>

<script type="text/javascript">
   $( "#funding_goal" ).keyup(function() {
       var value = addCommas( $( this ).val() );
       value = "$ " + value
       $( this ).val( value );
   });
</script>
