<% title "DreamFunded | Invest" %>
<div class= "wrapper">

  <div class="header education-center">
    <div class='education-title'>Edit My Campaign</div>
    <a href="/funding_campaing_goal/<%=@campaign.id%>" class='education-links '>Funding Goal</a> <%= fa_icon "chevron-right"%>
    <a href="/campaign_basics/<%=@campaign.id%>" class='education-links '>Basics</a> <%= fa_icon "chevron-right"%>
    <a href="/company_description/<%= @campaign.id %>" class='education-links '>Description</a> <%= fa_icon "chevron-right"%>
    <a href="/legal_info/<%= @campaign.id %>" class='education-links '> Legal Info </a> <%= fa_icon "chevron-right"%>
    <span href="#" class='education-links active-link'> Financial Info </span>
  </div>

  <div class= "campaign-box get-funded ">

  <div class="row">
    <div class=" active">
      <h2 class= "darkblue no-margin centered"><a  id="login-form-link">Funding Goals and Details</a></h2>
      <br>
      <h3 class= "darkblue no-margin centered">Carefully consider how to raise your round of funding.</h3>
    </div>
  </div>

  <div class='disclaimer-box'>
    <div class='disclaimer-container'>
      <i class="fa fa-times close-disclaimer" id='close-subcribtion' ></i>
      <span class='disclaimer-text'>ALL information in this step will be made publicly available</span>
    </div>
  </div>
  <br>

  <div class= "login-container">
    <div class = "notice centered">
      <%= flash[:errors] if flash[:errors] %>
    </div>

    <%= form_for @financial_details, :url => {:action => "financial_info_submit"},method: "post" do |f| %>
      <%= hidden_field_tag :campaign_id, @campaign.id %>
      <%= hidden_field_tag :financial_details, @financial_details.id %>

      <%= f.text_area(:offering_terms, rows: 6, :class =>"userbox ", :placeholder => "Offering Terms", :required => true) %>

      <%= f.text_area(:fin_risks, rows: 6, :class =>"userbox ", :placeholder => "Financial Risks", :required => true) %>

      <%= f.number_field :totat_income, placeholder: 'Total Income',:class => "input-box", required:true %>

      <%= f.number_field :total_taxable_income, placeholder: 'Total Taxable Income',:class => "input-box ", required:true %>

      <%= f.number_field :total_taxes_paid, placeholder: 'Total Taxes Paid',:class => "input-box ", required:true %>

      <strong class='half'>Most Recent Fiscal Year</strong>
      <strong class='half scoot-left'>Prior Recent Fiscal Year</strong>
      <br>

      <%= f.number_field :total_assets_this_year, placeholder: 'Total assets most recent fiscal year',:class => "input-box half", required:true %>
      <%= f.number_field :total_assets_last_year, placeholder: 'Total assets prior fiscal year',:class => "input-box half scoot-left ", required:true %>

      <%= f.number_field :cash_this_year, placeholder: 'Cash & Cash Equivalents most recent fiscal year',:class => "input-box half", required:true %>
      <%= f.number_field :cash_last_year, placeholder: 'Cash & Cash Equivalents prior fiscal year',:class => "input-box half scoot-left ", required:true %>

      <%= f.number_field :acount_receivable_this_year, placeholder: 'Accounts Receivable recent fiscal year',:class => "input-box half", required:true %>
      <%= f.number_field :acount_receivable_last_year, placeholder: 'Accounts Receivable prior fiscal year',:class => "input-box half scoot-left ", required:true %>

      <%= f.number_field :short_term_debt_this_year, placeholder: 'Short-term Debt most recent fiscal year',:class => "input-box half", required:true %>
      <%= f.number_field :short_term_debt_last_year, placeholder: 'Short-term Debt prior fiscal year',:class => "input-box half scoot-left ", required:true %>

      <%= f.number_field :long_term_debt_this_year, placeholder: 'Long-term Debt most recent fiscal year',:class => "input-box half", required:true %>
      <%= f.number_field :long_term_debt_last_year, placeholder: 'Long-term Debt prior fiscal year',:class => "input-box half scoot-left ", required:true %>

      <%= f.number_field :sales_this_year, placeholder: 'Revenues / Sales most recent fiscal year',:class => "input-box half", required:true %>
      <%= f.number_field :sales_last_year, placeholder: 'Revenues / Sales prior fiscal year',:class => "input-box half scoot-left ", required:true %>

      <%= f.number_field :costs_of_goods_this_year, placeholder: 'Costs of Goods Sold most recent fiscal year',:class => "input-box half", required:true %>
      <%= f.number_field :costs_of_goods_last_year, placeholder: 'Costs of Goods Sold prior fiscal year',:class => "input-box half scoot-left ", required:true %>

      <%= f.number_field :taxes_paid_this_year, placeholder: 'Taxes Paid most recent fiscal year',:class => "input-box half", required:true %>
      <%= f.number_field :taxes_paid_last_year, placeholder: 'Taxes Paid prior fiscal year',:class => "input-box half scoot-left ", required:true %>

      <%= f.number_field :net_income_this_year, placeholder: 'Net Income most recent fiscal year',:class => "input-box half", required:true %>
      <%= f.number_field :net_income_last_year, placeholder: 'Net Income prior fiscal year',:class => "input-box half scoot-left ", required:true %>

      <div class='funding_goal_list_item'>
        <strong>Balance Sheet ( .pdf )</strong>
        <%= f.file_field :balance_sheet %>
      </div>

      <div class='funding_goal_list_item'>
        <strong>Income Statements ( .pdf )</strong>
        <%= f.file_field :income_statements %>
       </div>

      <div class='funding_goal_list_item'>
        <strong>Statement of Cash Flow ( .pdf )</strong>
        <%= f.file_field :statement_of_cash_flow %>
      </div>

      <div class='funding_goal_list_item'>
        <strong>Statement of Changes in Equity For Past 2 Years ( .pdf )</strong>
        <%= f.file_field :statement_changes_of_equity %>
      </div>

      <div class='funding_goal_list_item'>
        <strong>Anticipated Business Plan ( .pdf )</strong>
        <%= f.file_field :business_plan %>
      </div>

      <div class='funding_goal_list_item'>
        <strong>Any Related Party Transaction ( .pdf )</strong>
        <%= f.file_field :party_transaction %>
      </div>

      <div class='funding_goal_list_item'>
        <strong>Description of Intended Use of Proceeds ( .pdf )</strong>
        <%= f.file_field :intended_use_of_proceeds %>
      </div>

      <div class='funding_goal_list_item'>
        <strong>Ownership and Capital Structure ( .pdf )</strong>
        <%= f.file_field :capital_structure %>
      </div>

      <div class='funding_goal_list_item'>
        <strong>Material Terms of Any Indebtedness ( .pdf )</strong>
        <%= f.file_field :material_terms %>
      </div>

      <div class='funding_goal_list_item'>
        <strong>Financial Condition ( .pdf )</strong>
        <%= f.file_field :financial_conditions %>
      </div>

      <div class='funding_goal_list_item'>
        <strong>Background of Directors and Officers ( .pdf )</strong>
        <%= f.file_field :directors_background %>
      </div>

      <div class='funding_goal_list_item'>
        <strong>Independent Accountant's Review ( .pdf )</strong>
        <%= f.file_field :accountant_review %>
      </div>

      <div class= "centered">
        <%= submit_tag("Continue", :id => "submit-button") %>
      </div>
    <% end %>
  </div>

</div>
