<% title "DreamFunded | Invest" %>
<div class= "wrapper">

  <div class="header education-center">
    <div class='education-title'>Edit My Campaign</div>
    <a href="/funding_campaing_goal/<%= @campaign.id%>" class='education-links '>Funding Goal</a> <%= fa_icon "chevron-right"%>
    <a href="/campaign_basics/<%= @campaign.id%>" class='education-links '>Basics</a> <%= fa_icon "chevron-right"%>
    <a href="/company_description/<%= @campaign.id %>" class='education-links '>Description</a> <%= fa_icon "chevron-right"%>
    <a href="#" class='education-links active-link'> Legal Info </a> <%= fa_icon "chevron-right"%>
    <span href="#" class='education-links disabled-link'> Financial Info </span>
  </div>


  <div class= "campaign-box get-funded ">

  <div class="row">
    <div class=" active">
      <h2 class= "darkblue no-margin centered"><a  id="login-form-link">Register Correctly</a></h2>
      <br>
      <h3 class= "darkblue no-margin centered">Please review this information with legal counsel.</h3>
    </div>
  </div>

  <div class='disclaimer-box'>
    <div class='disclaimer-container'>
      <i class="fa fa-times close-disclaimer" id='close-subcribtion' ></i>
      <span class='disclaimer-text'>This information must be accurate in order to launch your campaign. Make sure you get it right and keep it updated!</span>
    </div>
  </div>
  <br>

  <div class='disclaimer-box'>
    <div class='disclaimer-container'>
      <i class="fa fa-times close-disclaimer" id='close-subcribtion' ></i>
      <span class='disclaimer-text'>This information is for admin use only, but your Company Location will appear on your profile.</span>
    </div>
  </div>
  <br>

  <div class= "login-container">
    <%= form_for @campaign, :url => {:action => "legal_info_submit"},method: "post" do |f| %>
      <%= hidden_field_tag :campaign_id, @campaign.id %>
      <%= f.text_field :legal_company_name, placeholder: 'Legal Company Name',:class => "campaign-input-box ", required:true %>
      <%= f.text_field :employer_id_number, placeholder: 'Employer ID Number',:class => "campaign-input-box ", required:true %>
      <%= f.text_field :state_where_incorporated, placeholder: 'State Where Incorporated',:class => "campaign-input-box ", required:true %>
      <%= f.text_field :office_location, placeholder: 'Main Office Location',:class => "campaign-input-box ", required:true %>
      <div class='get-funded-section-name'>
        Date Company was Formed
      </div>
      <%= f.date_field :date_formed, placeholder: 'Date Company was Formed',:class => "campaign-input-box", required:true %>

      <div class='get-funded-section-name'>
        Company Location
      </div>
      <%= f.text_field :company_location_address, placeholder: 'Address',:class => "campaign-input-box", required:true %>
      <%= f.text_field :company_location_city, placeholder: 'City',:class => "campaign-input-box", required:true %>
      <%= f.text_field :company_location_state, placeholder: 'State',:class => "campaign-input-box", required:true %>
      <%= f.text_field :company_location_zipcode, placeholder: 'Zipcode',:class => "campaign-input-box", required:true %>

      <div class='get-funded-section-name'>
        Company Contact Info
      </div>
      <%= f.text_field :company_contact_info_name, placeholder: "Person to contact's full name",:class => "campaign-input-box", required:true %>
      <%= f.text_field :company_contact_info_email, placeholder: 'Email',:class => "campaign-input-box", required:true %>
      <%= f.text_field :company_contact_info_phone, placeholder: 'Phone',:class => "campaign-input-box", required:true %>




      <div class='get-funded-section-name'>
        State Filing Number
      </div>
      <%= f.text_field :state_filing_number, placeholder: "State Filing Number",:class => "input-box", required:true %>

      <div class = "notice centered">
        <%= flash[:errors] if flash[:errors] %>
      </div>

      <div class= "centered">
        <%= submit_tag("Continue", :id => "submit-button") %>
      </div>
    <% end %>
  </div>

</div>
