<!DOCTYPE html>
<html>
<head>
	  <%= stylesheet_link_tag    'application', media: 'all' %>
	  <%= stylesheet_link_tag		"menu", media: 'all' %>
	  <%= javascript_include_tag		'links' %>
	  <%= javascript_include_tag	'jquery-1.4.2.min.js', 'application' %>


  <%= csrf_meta_tags %>

  			<div class= "menu-wrap fullWidth"> <nav class= "menu fullWidth">
				<ul class= "main-menu white">

					<% if user_session == nil %>
						<li><button onclick= "signIn()">Login</button></li>
					<% else %>
						<li><button onclick= "profile()" >My Account <span class="arrow">&#9660;</span></button>
							<ul class= "sub-menu">
								<li><button onclick= "portfolio()">Portfolio</button></li>
								<% if user_session.authority != authority[:Admin] %>
									<li><button onclick= "signOut()" >Sign Out</button></li>
								<% else %>
									<li><button onclick= "admin()">Admin Panel</button></li>
									<li><button onclick= "signOut()" >Sign Out</button></li>
								<% end %>
							</ul>
						</li>
					<% end %>

					<li><button disabled= "true">About <span class="arrow">&#9660;</span></button>
						<ul class= "sub-menu">
							<li><button onclick= "about()">About Us</button></li>
							<li><button onclick= "faq()">FAQ</button></li>
							<li><button onclick= "contact()">Contact Us</button></li>
						</ul>
					</li>
					<%# if user_session != nil && user_session.authority > 2 %>
						<!-- <li><button onclick= "funding()">Get Funded</button></li> -->
					<%# end %>
					<li><button onclick= "team()">Team</button></li>
					<li><button onclick= "exchange()">Exchange</button></li>
					<li><button onclick= "news()">News</button></li>
					<li><button onclick= "whyInv()">Why Invest</button></li>

					<% if user_session != nil && user_session.authority >= authority[:Accredited] %>
						<li><button onclick= "invest()">Invest Now</button></li>
					<% elsif user_session == nil %>
						<li><button onclick= "signUp()">Invest Now</button></li>
					<% end %>
					<li><button onclick= "home()">Home</button></li>
					<li id= "left"><button onclick= "home()" id= "nopadding"><div class= "logo"></div></button></li>
				</ul>
			</nav></div>

</head>
<body>
<div class= "wrapper">
	<%= yield %>
</div>
<footer class= "footer fullWidth">
	<div class= "foot-bar"><div class= "foot-wrap">
		<div class= "image3-box gap"><%= link_to image_tag("static/logo.png", :class => 'image3'), "http://www.angelcapitalassociation.org/" %></div>
		<div class= "image3-box gap"><%= link_to image_tag("static/DreamFunded-Logo-Vertical-lightblue.png", :class => 'image3'), "http://dreamfunded.com/" %></div>
		<div class= "image4-box gap">
			<%= link_to image_tag("static/facebook.png", :class => 'image4'), "https://www.facebook.com/dreamfundedcom", :target => "_blank" %>
			<%= link_to image_tag("static/twitter.png", :class => 'image4'), "https://twitter.com/dreamfunded", :target => "_blank" %>
			<%= link_to image_tag("static/linkedin.png", :class => 'image4'), "https://www.linkedin.com/company/dreamfunded-com", :target => "_blank" %>
			<%= link_to image_tag("static/angel.png", :class => 'image4'), "https://angel.co/dreamfunded-1", :target => "_blank" %>
		</div>
	</div></div>
	<div class= "footer-content">

	<div class= "left">
		<p class= "indent foot-text"> COPYRIGHT © <%= Time.now.year %> DREAMFUNDED </p>
	</div>

	<div class= "right table">
		<%= link_to "Contact", "/contact", :class => "spaced border" %>
		<%= link_to "Frequently Asked Questions", "/faq", :class => "spaced border" %>
		<%= link_to "Legal Information", "/legal", :class => "spaced" %>
	</div>
	<br>
	<br>
	<p class= "indent foot-text darkblue">DreamFunded.com is a platform operated by DreamFunded, Inc. By accessing this site and any pages thereof, you agree to be bound by our Terms of Service and Privacy Policy. DreamFunded.com is intended only for accredited investors, who are residing in the U.S. or residing abroad in jurisdictions where securities registration exemptions apply.
	DreamFunded does not make investment recommendations, and no communication through this website or in any other medium should be construed as such. Investment opportunities posted on this website are “private placements” of securities that are not publicly traded, are subject to holding period requirements, and are intended for investors who do not need a liquid investment. Private placement investments are not bank deposits (and thus not insured by the FDIC or by any other federal governmental agency), are not guaranteed by DreamFunded and may lose value. Neither the Securities and Exchange Commission nor any federal or state securities commission or regulatory authority has recommended or approved any investment or the accuracy or completeness of any of the information or materials provided by or through the website. Investors must be able to afford the loss of their entire investment.</p>

	<p class= "indent foot-text darkblue">Any financial projections or returns shown on the website are illustrative examples only; there can be no assurance that any valuations provided are accurate or in agreement with market or industry valuations. Any investment information contained herein has been secured from sources DreamFunded believes are reliable, but we make no representations or warranties as to the accuracy of such information and accept no liability thereof. Offers to sell or buy any security can only be made through official offering documents that contain important information about risks, fees, and expenses. Investors should conduct their own due diligence and not rely solely on the financial assumptions or estimates displayed on this website; they are encouraged to consult with a financial advisor, attorney, accountant, and any other professional that can help you to understand and assess the risks associated with any investment opportunity.</p>
</div></footer>
</body>
</html>
