<!DOCTYPE html>
<html>
<head>
		<title><%= yield(:title) %></title>
	  <%= stylesheet_link_tag    'application', media: 'all' %>
	  <%= stylesheet_link_tag		"menu", media: 'all' %>
	  <%= javascript_include_tag 'application'  %>
	  <%#= javascript_include_tag	'jquery-1.4.2.min.js', 'application' %>
	  <%= favicon_link_tag 'favicon.ico' %>
	  <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	  <meta name="google-site-verification" content="4EqIIS1zzxponsiDalE--56ZXT7Dx_uvmH4sfzK3JRc" />
	  <meta name="description" content="DreamFunded Exchange is a Silicon Valley private tech stock market. We are providing employee liquidity through our marketplace, which in turn provides access to angel investors to buy pre-IPO shares. ">
	  <meta name="keywords" content="angel investors, pre-iso, employee liquidity, equity crowdfunding, startup investing, Silicon Valley investing, San Francisco angel investing">

	  <meta property="og:title" content="DreamFunded" />
	  <meta property="og:type" content="website" />
	  <meta property="fb:app_id" content="1711154149164475" />
	  <meta property="og:description" content="DreamFunded Exchange is a Silicon Valley private tech stock market. We are providing employee liquidity through our marketplace, which in turn provides access to angel investors to buy pre-IPO shares. " />
	  <meta property="og:url" content="https://dreamfunded.com" />
	  <meta property="og:image" content="https://dreamfunded.com/assets/logo_for_facebook.jpg" />
	  <meta property="og:image:secure_url" content="https://dreamfunded.com/assets/logo_for_facebook.jpg" />



	  <%= csrf_meta_tags %>
	  <!-- Facebook Conversion Code for Leads - 1414927242055598 1 -->
	  <script>
			  (function() {
			  var _fbq = window._fbq || (window._fbq = []);
			  if (!_fbq.loaded) {
			  var fbds = document.createElement('script');
			  fbds.async = true;
			  fbds.src = '//connect.facebook.net/en_US/fbds.js';
			  var s = document.getElementsByTagName('script')[0];
			  s.parentNode.insertBefore(fbds, s);
			  _fbq.loaded = true;
			  }
			  })();
			  window._fbq = window._fbq || [];
			  window._fbq.push(['track', '6033653694759', {'value':'0.00','currency':'USD'}]);
	  </script>
	  <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6033653694759&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" /></noscript>

		<!-- facebook code -->
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=208256392895631";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		<!-- facebook end -->

</head>

<body>
		<%= render 'layouts/header' %>
		<div class= "wrapper">
			<%= yield %>
		</div>

<%= render 'layouts/footer' %>

</body>
</html>
